.treatments_page_4_container {
  display: grid;
  row-gap: 1.5rem;
  height: 92vh;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-template-areas:
    "dermaplaning_card dermaplaning_card dermaplaning_card"
    "cbd_card cbd_card cbd_card"
    "microneedle_card microneedle_card microneedle_card";
  margin-top: 1.5rem;
}

/* CSS for Small Portrait Screens (e.g. iPhone 6/7/8, iPhone X) */
@media only screen and (min-width: 360px) {
  .treatments_page_4_container {
    row-gap: 3.5vh;
    margin-top: 4.5vh;
  }
}

/* CSS for Average Portrait Screens (e.g. iPhone 11) */
@media only screen and (min-width: 410px) {
  .treatments_page_4_container {
    row-gap: 1.5rem;
    margin-top: 1.5rem;
  }
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .treatments_page_4_container {
    height: 85vh;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-areas:
      "quickie_card quickie_card quickie_card chemical_peel_card chemical_peel_card chemical_peel_card"
      "quickie_card quickie_card quickie_card chemical_peel_card chemical_peel_card chemical_peel_card";
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: -5.3rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .treatments_page_4_container {
    height: 28.6666667vh;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    grid-template-areas:
      ". cbd_card cbd_card . microneedle_card microneedle_card ."
      ". cbd_card cbd_card . microneedle_card microneedle_card .";
    margin-left: 12.9%;
    margin-right: 12.9%;
    margin-top: 2.7rem;
    grid-gap: 6%;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .treatments_page_4_container {
    margin-top: 3rem;
  }
}
