.not_sure_emoji_icon_path {
  transform: scale(0.4);
}

.not_sure_booked_emoji_icon_path {
  transform: scale(0.6);
}

.unsure_popup_buttons_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
}

.unsure_popup_not_sure_button {
  background: rgb(44, 44, 52);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.unsure_popup_dismiss_button {
  border: 2px solid rgb(44, 44, 52);
  color: rgb(44, 44, 52);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
