.login_page_container {
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login_content_container {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sign_in_prompt {
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: rgb(121, 121, 121);
}

.login_logo_container {
  position: absolute;
  height: 60%;
  width: 100%;
  top: -22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign_in_facebook_callback_link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  width: 100%;
}

.continue_with_facebook_button {
  background: rgb(59, 89, 152);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 90%;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  position: relative;
  z-index: 0;
}

.continue_with_facebook_button p {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 500;
}

.login_or_container {
  width: 90%;
  color: rgb(121, 121, 121);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login_or_container p {
  display: inline-block;
  font-weight: 600;
}

.login_page_form {
  width: 90%;
}

.input_field_login {
  width: 100%;
  font-size: 1.3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 0.5rem;
}

.forgot_password_question_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.forgot_password_question_container p {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 129, 177);
}

.login_page_bottom_buttons_container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
}

.log_in_button {
  background: rgb(44, 44, 52);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
}

.dont_have_an_account_question {
  font-weight: 500;
  margin-top: 2vh;
}

.create_account_redirect_button {
  width: 90%;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(44, 44, 52);
  color: rgb(44, 44, 52);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
}

.create_account_redirect_button p {
  color: rgb(44, 44, 52);
}

.complete_registration_page_container {
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -10vh;
}

.complete_registration_logo_container {
  position: absolute;
  height: 60%;
  width: 100%;
  top: -15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complete_registration_content_container {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 28vh;
}

.complete_registration_bottom_buttons_container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
}

.complete_registration_button {
  width: 90%;
  display: block;
  background: rgb(44, 44, 52);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
}

.complete_registration_loading_modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

.login_page_descriptive_text {
  display: none;
}

/* Additional CSS for Mobile Phones with Even Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 700px) {
  .login_content_container {
    height: 100%;
    margin-top: 18vh;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (min-device-height: 701px) {
  .login_content_container {
    height: 80%;
    margin-top: 15vh;
  }
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .login_page_background {
    width: 100%;
    height: 100%;
    /* Photo by Karolina Grabowska from Pexels */
    background-image: url("../../../images/GlowLabsSignInBackgroundCompressed.jpg");
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: contain;
    position: absolute;
    z-index: -1;
  }

  .login_page_background_blurry {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    height: 100%;
    width: 75%;
    position: absolute;
    right: 0;
  }

  .login_page_container {
    width: 33.333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .login_content_container {
    height: 75%;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    z-index: 999999;
    margin-top: 0vh;
  }

  .sign_in_prompt {
    font-size: 2rem;
    padding-top: 2em;
    padding-bottom: 3rem;
  }

  .create_account_redirect_button,
  .log_in_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .login_or_container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
  }

  .continue_with_facebook_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .input_field_login {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .dont_have_an_account_question {
    font-size: 1rem;
    margin-bottom: 1vh;
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .login_page_container {
    width: 25%;
  }

  .login_content_container {
    height: 65%;
  }

  .create_account_redirect_button,
  .log_in_button {
    font-size: 1rem;
    padding: 1rem;
  }

  .login_or_container {
    font-size: 1rem;
  }

  .continue_with_facebook_button {
    padding: 1rem;
    font-size: 1rem;
  }

  .dont_have_an_account_question {
    font-size: 1rem;
    margin-bottom: 1vh;
  }

  .login_page_descriptive_text {
    display: block;
    position: absolute;
    top: 23%;
    left: 30%;
  }

  .login_page_descriptive_text h2 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }

  .login_page_descriptive_text ul {
    padding-top: 1rem;
    padding-left: 3rem;
  }

  .login_page_descriptive_text ul li {
    font-size: 1.5rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .login_content_container {
    height: 35%;
  }

  .create_account_redirect_button,
  .log_in_button {
    font-size: 1.5rem;
  }

  .login_or_container {
    font-size: 1.5rem;
  }

  .continue_with_facebook_button {
    font-size: 1.5rem;
  }

  .dont_have_an_account_question {
    font-size: 1.5rem;
  }

  .login_page_descriptive_text {
    top: 25%;
  }

  .login_page_descriptive_text h2 {
    font-size: 7rem;
  }

  .login_page_descriptive_text ul li {
    font-size: 2rem;
  }
}
