.instagram_page_wrapping {
  height: 67vh;
  margin-top: 35vh;
  background: rgb(255, 255, 255);
}

.instagram_images_wrapping {
  padding-top: 2vh;
  height: 43vh;
  width: 100%;
}

.instagram_images_top_wrapping,
.instagram_images_bottom_wrapping {
  overflow: hidden;
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.instagram_images_bottom_wrapping {
  margin-top: 1.5rem;
}

.instagram_top_page_wrapping {
  height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.instagram_image {
  display: block;
  height: auto;
  width: 50%;
  overflow: hidden;
}

.instagram_image.left {
  margin-right: 1.5rem;
}

.instagram_page_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  z-index: -1;
}

.instagram_top_page_wrapping h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgba(215, 156, 165);
  -webkit-text-fill-color: rgb(215, 156, 165);
  line-height: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.instagram_top_page_wrapping h3 p {
  text-align: center;
  margin-bottom: 1rem;
}

.insta_handle_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.real_clients_instagram_icon {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 5rem;
  color: rgb(215, 156, 165);
  -webkit-text-fill-color: rgb(215, 156, 165);
  cursor: pointer;
}

.real_clients_title_underline {
  border-bottom: 3px solid rgb(215, 156, 165);
}

.instagram_page_header h3 {
  font-size: 1.79rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.large_screen {
  display: none;
}

.large_screen_follow_prompt {
  display: none;
}

/* Safari Only */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .instagram_top_page_wrapping {
      margin-top: 20vh;
    }

    .instagram_images_wrapping {
      margin-top: 20vh;
    }
  }
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .instagram_page_wrapping {
    height: 85vh;
    margin-top: 10vh;
  }

  .instagram_images_wrapping {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10vh;
    margin-top: 20vh;
    height: 50vh;
    width: 100%;
  }

  .instagram_images_top_wrapping {
    width: 50%;
    margin-right: 12.5vw;
    height: 50vh;
  }

  .instagram_images_bottom_wrapping {
    margin-top: 0rem;
    margin-left: 12.5vw;
    width: 50%;
    height: 50vh;
  }

  .insta_handle_wrapper {
    font-size: 1rem;
    position: absolute;
    top: 33vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .real_clients_instagram_icon {
    font-size: 4rem;
  }

  .large_screen {
    display: none;
  }

  .instagram_top_page_wrapping h2 {
    display: flex;
    align-self: center;
    font-size: 2rem;
  }

  .instagram_top_page_wrapping h3 p {
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }

  .instagram_top_page_wrapping h3 p br {
    display: none;
  }

  .real_clients_title_underline {
    display: flex;
    align-self: center;
    padding-top: 7vh;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .instagram_images_top_wrapping,
  .instagram_images_bottom_wrapping {
    overflow: hidden;
    height: 40vh;
  }

  .instagram_images_top_wrapping {
    width: 100%;
    margin-right: 0vw;
  }

  .instagram_images_bottom_wrapping {
    margin-top: 1.5rem;
    margin-left: 0vw;
    width: 100%;
  }

  .instagram_page_wrapping {
    display: block;
    height: 100vh;
    padding-top: 0vh;
    margin-top: 35vh;
    background: rgb(255, 255, 255);
  }

  .all_instagram_images_container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .instagram_images_wrapping {
    display: block;
    padding-top: 2vh;
    margin-top: -14vh;
    height: 43vh;
    width: 45%;
  }

  .instagram_top_page_wrapping h2 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: left;
    margin-right: 1.5rem;
    padding-top: 25vh;
  }

  .instagram_top_page_wrapping h3 p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .real_clients_title_underline {
    margin-right: 1.3rem;
    padding-top: 0vh;
  }

  .real_clients_instagram_icon {
    font-size: 3em;
  }

  .real_clients_instagram_icon:hover {
    color: rgb(155, 98, 107);
    -webkit-text-fill-color: rgb(155, 98, 107);
    transition: all 0.5s ease;
  }

  .large_screen {
    display: block;
  }

  .large_screen_follow_prompt {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 6em;
    padding-right: 6em;
    margin-top: -50vh;
  }

  .large_screen_follow_prompt p {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 70vh;
  }

  .insta_handle_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    top: 0;
  }
  .small_screen_follow_prompt {
    display: none;
  }

  /* Safari Only */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .instagram_top_page_wrapping {
        margin-top: -60vh;
      }

      .instagram_top_page_wrapping h2 {
        padding-top: 78vh;
        margin-bottom: 1.5em;
      }

      .instagram_images_wrapping {
        margin-top: 60vh;
      }

      .large_screen_follow_prompt {
        margin-top: 25vh;
      }
    }
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .instagram_page_wrapping {
    margin-top: 25vh;
  }

  .instagram_images_wrapping {
    margin-top: -26vh;
  }

  .large_screen_follow_prompt {
    padding-left: 7em;
    padding-right: 7em;
  }

  .large_screen_follow_prompt p {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 70vh;
  }

  .real_clients_instagram_icon {
    font-size: 2em;
  }

  .instagram_top_page_wrapping h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
  }

  .instagram_image {
    height: 100%;
    width: 100%;
    background-color: black;
  }

  .instagram_image img {
    visibility: hidden;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .instagram_page_wrapping {
    margin-top: 13vh;
  }

  .instagram_images_wrapping {
    margin-top: -2vh;
  }

  .instagram_top_page_wrapping h2 {
    font-size: 5rem;
    line-height: 8rem;
    margin-top: 2rem;
  }

  .instagram_top_page_wrapping h3 p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
  }

  .instagram_image {
    background-color: transparent;
  }

  .instagram_image img {
    visibility: visible;
  }
}
