.rejuvenate_card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    "hero hero description description description description"
    "hero hero description description description description"
    "hero hero description description description description";
  border-top: solid 0.5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.rejuvenate_wrapping {
  display: grid;
  grid-area: rejuvenate_card;
  height: 29.3333vh;
}

.rejuvenate_card_image {
  grid-area: hero;
  background: rgb(248, 213, 250);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.rejuvenate_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.rejuvenate_icon_path {
  transform: scale(0.5);
}

.rejuvenate_description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
}

.rejuvenate_description_subheader {
  font-weight: 300;
  margin-bottom: 1rem;
}

.rejuvenate_card_toggler {
  color: rgb(148, 113, 150);
  font-weight: 500;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.rejuvenate_card_bottom_spacer {
  flex-grow: 1;
}

.rejuvenate_suitcase_icon {
  color: rgb(148, 113, 150);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}
