/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .burger {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    width: 30%;
    border: none;
    cursor: pointer;
    flex: 1;
  }

  .burger_line {
    display: flex;
    height: 4px;
    width: 1.8rem;
    background: rgb(239, 240, 243);
    transition: all 0.5s ease;
  }

  .navbar {
    position: fixed;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8vh;
  }

  .logo {
    display: flex;
    flex: 1;
    margin-left: 1.5rem;
    padding: 0;
    color: rgb(239, 240, 243);
    text-decoration: none;
  }

  .spacer {
    flex: 40;
  }

  .nav_sign_in_button_small_screen {
    display: block;
    position: fixed;
    margin-right: 3.9rem;
    right: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid rgb(239, 240, 243);
    color: rgb(44, 44, 52);
    background: rgb(239, 240, 243);
    padding: 0.3rem;
    padding-right: 1rem;
    border-radius: 20px;
  }

  .nav_sign_in_link_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav_sign_in_button_small_screen p {
    display: inline-block;
    margin-left: 0.5rem;
    color: rgb(44, 44, 52);
  }

  .sign_in_user_icon {
    display: inline-block;
    color: rgb(44, 44, 52);
  }

  .sign_in_circle_icon {
    position: relative;
    font-size: 1.2rem;
    display: inline-block;
    color: rgb(44, 44, 52);
  }

  .letter_circle {
    left: 0.8rem;
    right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fa-layers.fa-fw.letter_circle p {
    color: rgb(239, 240, 243);
    position: relative;
    z-index: 2;
    text-align: center;
    margin-left: 0;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .shopping_cart_small_screen {
    margin-right: 1.5rem;
    position: absolute;
    right: -0.5rem;
    left: auto;
  }

  .cart_item_number_circle {
    position: absolute;
    right: 0.8rem;
  }

  .cart_item_number_circle p {
    color: rgb(44, 44, 52);
    font-weight: 700;
    font-size: 0.8rem;
    position: absolute;
    top: 0.1rem;
    right: 0.05rem;
  }

  .nav_menu {
    margin-top: 8vh;
    height: 92vh;
    width: 100%;
    position: fixed;
    z-index: 5;
  }

  .nav_logo_container {
    position: fixed;
    left: 3rem;
    padding-bottom: 0.3rem;
  }

  .navbar_items {
    height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .navbar_items li {
    display: flex;
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 500;
    color: rgb(239, 240, 243);
  }

  .navbar_items li:active {
    color: rgb(239, 240, 243);
    transition: color 0.1s ease;
  }

  .nav_links {
    display: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .navbar_social_media_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbar_social_media_icons a {
    margin-left: 1rem;
    color: rgb(239, 240, 243);
  }
}

/* CSS for Small Portrait Screens (e.g. iPhone 6/7/8, iPhone X) */
@media only screen and (min-width: 360px) {
  .burger {
    height: 3rem;
    width: 30%;
  }

  .cart_item_number_circle {
    top: 0.9rem;
  }
}

/* CSS for Average Portrait Screens (e.g. iPhone 11) */
@media only screen and (min-width: 410px) {
  .cart_item_number_circle {
    top: 0.7rem;
    right: 1rem;
  }
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .nav_logo_container {
    left: 3.6rem;
  }

  .logo {
    margin-left: 3.1rem;
  }

  .nav_sign_in_button_small_screen {
    margin-right: 6rem;
  }

  .navbar {
    border-top: 17vh
      linear-gradient(
        to right,
        rgb(251, 251, 251) 0%,
        rgb(251, 251, 251) 50%,
        rgb(255, 198, 207) 50.05%,
        rgb(255, 198, 207) 100%
      )
      solid;
    border-bottom: 17vh
      linear-gradient(
        to right,
        rgb(251, 251, 251) 0%,
        rgb(251, 251, 251) 50%,
        rgb(255, 198, 207) 50.05%,
        rgb(255, 198, 207) 100%
      )
      solid;
  }

  .nav_menu {
    margin-top: 12vh;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar_items {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }

  .navbar_items li {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .shopping_cart_small_screen {
    position: absolute;
  }

  .cart_item_number_circle {
    right: 2.5rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .logo {
    margin-left: 3.1rem;
  }

  .nav_logo_container {
    display: flex;
    position: relative;
    left: 0;
    padding-bottom: 0.3rem;
  }

  .nav_sign_in_button_small_screen {
    display: none;
  }

  .navbar {
    height: 8vh;
  }

  .burger,
  .nav_menu {
    display: none;
  }

  .nav_links {
    width: 50%;
    display: flex;
  }

  .nav_links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .nav_links li {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

  .nav_links li:hover {
    color: white;
    transition: all 0.5s ease;
  }

  .shopping_cart_small_screen {
    display: none;
  }

  .nav_sign_in_button_large_screen {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    color: white;
    border: 1px solid transparent;
    background: rgb(165, 138, 127);
    border-radius: 20px;
    margin-top: -0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav_sign_in_button_large_screen:hover {
    background: rgb(115, 88, 77);
    transition: all 0.5s ease;
  }

  .nav_sign_in_button_large_screen p {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .sign_in_user_icon {
    display: inline-block;
  }

  .shopping_cart_large_screen {
    width: 80%;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 5rem;
  }

  .shopping_cart_large_screen:hover {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
    transition: all 0.5s ease;
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .nav_links ul {
    margin-left: 1.5rem;
  }

  .nav_links li {
    font-size: 0.95rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .cart_item_number_circle {
    right: 2.5rem;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .nav_links li {
    display: flex;
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
  }

  .shopping_cart_large_screen {
    right: -9rem;
    margin-top: 1.1rem;
  }

  .cart_item_number_circle {
    margin-top: 1rem;
    right: 2.55rem;
  }

  .cart_item_number_circle p {
    font-size: 1.3rem;
    top: -0.2rem;
    margin-right: -0.12rem;
  }
}
