.burger {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3rem;
  width: 30%;
  border: none;
  cursor: pointer;
  flex: 1;
}

.burger_line {
  display: flex;
  height: 4px;
  width: 2rem;
  background: #000;
  transition: all 0.5s ease;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.logo {
  display: flex;
  flex: 1;
  align-self: center;
  margin-left: 1.5rem;
  padding: 0;
  color: #000;
  text-decoration: none;
}

.spacer {
  flex: 40;
}

.nav_menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar_items {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar_items li {
  display: flex;
  text-decoration: none;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.navbar_items li:active {
  color: white;
  transition: color 0.1s ease;
}

.nav_links {
  display: none;
}

@media only screen and (min-width: 768px) {
  .burger,
  .nav_menu {
    display: none;
  }

  .nav_links {
    width: 50%;
    display: flex;
    margin-right: 1.5rem;
  }

  .nav_links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .nav_links li {
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  .nav_links li:hover {
    color: white;
    transition: all 0.5s ease;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .logo {
    margin-left: 3.1rem;
  }

  .nav_links ul {
    margin-left: 3.1rem;
    justify-content: space-between;
  }

  .nav_links li {
    display: flex;
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
  }
}
