.burger {
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 3rem;
  width: 30%;
  border: none;
  cursor: pointer;
  flex: 1;
}

.burger_line {
  display: flex;
  height: 4px;
  width: 2rem;
  background: #000;
  transition: all 0.5s ease;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.logo {
  display: flex;
  flex: 1;
  margin-left: 1.5rem;
  padding: 0;
  color: #000;
  text-decoration: none;
}

.spacer {
  flex: 40;
}

.shopping_cart {
  margin-right: 5rem;
  position: absolute;
  right: 0.5rem;
  left: auto;
  bottom: auto;
}

.cart_item_number_circle {
  position: absolute;
  top: 0.7rem;
  right: 5.5rem;
}

.cart_item_number_circle p {
  color: rgb(175, 116, 125);
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  top: 0.1rem;
  right: 0.05rem;
}

.nav_menu {
  margin-top: 8vh;
  height: 92vh;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar_items {
  height: 46vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar_items li {
  display: flex;
  text-decoration: none;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.navbar_items li:active {
  color: white;
  transition: color 0.1s ease;
}

.nav_links {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbar_social_media_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar_social_media_icons a {
  margin-left: 1rem;
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .logo {
    margin-left: 3.1rem;
  }

  .navbar {
    border-top: 17vh
      linear-gradient(
        to right,
        rgb(251, 251, 251) 0%,
        rgb(251, 251, 251) 50%,
        rgb(255, 198, 207) 50.05%,
        rgb(255, 198, 207) 100%
      )
      solid;
    border-bottom: 17vh
      linear-gradient(
        to right,
        rgb(251, 251, 251) 0%,
        rgb(251, 251, 251) 50%,
        rgb(255, 198, 207) 50.05%,
        rgb(255, 198, 207) 100%
      )
      solid;
  }

  .nav_menu {
    margin-top: 12vh;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar_items {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }

  .navbar_items li {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .shopping_cart {
    position: absolute;
  }

  .cart_item_number_circle {
    right: 7rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .logo {
    margin-left: 3.1rem;
  }

  .navbar {
    height: 8vh;
  }

  .burger,
  .nav_menu {
    display: none;
  }

  .nav_links {
    width: 50%;
    display: flex;
    margin-right: 1.5rem;
  }

  .nav_links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    margin-left: 3.1rem;
  }

  .nav_links li {
    display: flex;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  .nav_links li:hover {
    color: white;
    transition: all 0.5s ease;
  }

  .shopping_cart {
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0.5rem;
    left: auto;
    top: 0.85rem;
    bottom: auto;
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .nav_links ul {
    margin-left: -1.5rem;
  }

  .nav_links li {
    font-size: 1rem;
    margin-left: -2.3rem;
    margin-right: -2.3rem;
  }

  .shopping_cart {
    margin-top: 0.15rem;
    right: -5.8rem;
  }

  .cart_item_number_circle {
    right: 2.8rem;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .nav_links li {
    display: flex;
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
  }

  .shopping_cart {
    right: -9rem;
    margin-top: 1.1rem;
  }

  .cart_item_number_circle {
    margin-top: 1rem;
    right: 2.55rem;
  }

  .cart_item_number_circle p {
    font-size: 1.3rem;
    top: -0.2rem;
    margin-right: -0.12rem;
  }
}
