@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap");

.salt_cave_wrapping {
  display: grid;
  grid-area: salt_cave_card;
  height: 28.6666667vh;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.salt_cave_icon_path {
  transform: scale(0.5);
}

.salt_cave_time_formgroup_dropdown_input_field {
  position: relative;
  margin-left: 0.8rem;
}

.salt_cave_time_formgroup_dropdown_icon {
  position: absolute;
  font-size: 0.8rem;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.salt_cave_time_formgroup_input {
  font-size: 1rem;
  padding-right: 2rem;
  color: rgb(0, 0, 0);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 500;
  padding-left: 0.5rem;
}

.salt_cave_card_new_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.salt_cave_card_new {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 600px) {
  .salt_cave_wrapping {
    height: 64%;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .salt_cave_wrapping {
    height: auto;
  }

  .salt_cave_time_formgroup_dropdown_icon {
    font-size: 1rem;
    right: 1rem;
  }

  .salt_cave_time_formgroup_input {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding-right: 3rem;
    color: rgb(0, 129, 177);
    font-weight: 600;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
