.treatments_page_5_container {
  display: none;
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .treatments_page_5_container {
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-areas:
      "dermaplaning_card dermaplaning_card dermaplaning_card cbd_card cbd_card cbd_card"
      "dermaplaning_card dermaplaning_card dermaplaning_card cbd_card cbd_card cbd_card";
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: -5.3rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .treatments_page_5_container {
    display: none;
  }
}
