/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .treatments_page_5_container {
    height: 28.6666667vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto;
    grid-template-areas: "jet_hydro_peel_card jet_hydro_peel_card jet_hydro_peel_card";
    margin-top: 2.5rem;
  }
}

/* CSS for Small Portrait Screens (e.g. iPhone 6/7/8, iPhone X) */
@media only screen and (min-width: 360px) {
  .treatments_page_5_container {
    margin-top: 4.5rem;
  }
}

/* Additional CSS for Mobile Phones with Even Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 700px) {
  .treatments_page_5_container {
    margin-top: 4.5rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (min-device-height: 701px) {
  .treatments_page_5_container {
    margin-top: 5.6rem;
  }
}

/* CSS for Pixel 4, Galaxy Note 9 */
@media only screen and (min-width: 360px) and (min-device-height: 740px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .treatments_page_5_container {
      margin-top: 5.3rem;
    }
  }
}

/*CSS for Small Portrait Phones Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 650px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .treatments_page_5_container {
      margin-top: 4.6rem;
    }
  }
}

/* CSS for Small Portrait Screens (e.g. iPhone 6/7/8, iPhone X) */
@media only screen and (min-width: 375px) {
  .treatments_page_5_container {
    margin-top: 3.8rem;
  }
}

/* Additional CSS for Small Portrait Screens with Smaller Heights */
@media only screen and (min-width: 375px) and (max-device-height: 700px) {
  .treatments_page_5_container {
    margin-top: 5.4rem;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .treatments_page_5_container {
      margin-top: 5rem;
    }
  }
}

/* Additional CSS for Mobile Phones with Slightly Larger Heights */
@media only screen and (min-width: 375px) and (min-device-height: 801px) {
  @supports (-webkit-overflow-scrolling: touch) {
    .treatments_page_5_container {
      margin-top: 3.5rem;
    }
  }
}

/* CSS for Average Portrait Screens (e.g. iPhone 11) */
@media only screen and (min-width: 410px) {
  .treatments_page_5_container {
    margin-top: 3rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (max-device-height: 800px) {
  .treatments_page_5_container {
    margin-top: 4.3rem;
  }
}

/* Additional CSS for iPhones 6+, 6s+, 7+, 8+ */
@media only screen and (min-width: 410px) and (min-device-height: 700px) and (max-device-height: 800px) {
  @supports (-webkit-overflow-scrolling: touch) {
    .treatments_page_5_container {
      margin-top: 4rem;
    }
  }
}

/* iPhone 11 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  @supports (-webkit-overflow-scrolling: touch) {
    .treatments_page_5_container {
      margin-top: 3rem;
    }
  }
}

/* iPhone XS Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  @supports (-webkit-overflow-scrolling: touch) {
    .treatments_page_5_container {
      margin-top: 2.3rem;
    }
  }
}

/* Google Pixel 4XL */
@media screen and (device-width: 480px) and (device-height: 1014px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    .treatments_page_5_container {
      margin-top: 5rem;
    }
  }
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .treatments_page_5_container {
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-areas:
      "dermaplaning_card dermaplaning_card dermaplaning_card cbd_card cbd_card cbd_card"
      "dermaplaning_card dermaplaning_card dermaplaning_card cbd_card cbd_card cbd_card";
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: -5.3rem;
  }
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .treatments_page_5_container {
    height: 50vh;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    margin-top: -16.2rem;
  }
}

/* CSS for Larger Tablets in Portrait Mode */
@media only screen and (min-width: 1024px) and (max-device-height: 1400px) {
  .treatments_page_5_container {
    margin-top: -22rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .treatments_page_5_container {
    display: none;
  }
}
