.shopping_cart_container {
  padding-top: 8vh;
  height: 100%;
  background: rgb(255, 255, 255);
  padding-bottom: 8vh;
}

.shopping_cart_container h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.shopping_cart_header {
  color: rgb(215, 156, 165);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
}

.shopping_cart_back_arrow {
  color: rgb(215, 156, 165);
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.empty_cart_container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty_cart_container h3 {
  color: rgb(191, 191, 191);
}

.cart_statement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.empty_shopping_cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.continue_shopping_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(215, 156, 165);
  border-radius: 30px;
  color: rgb(215, 156, 165);
}

.cart_header {
  width: 100%;
  height: 5vh;
  background: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cart_header h2 {
  color: rgb(101, 101, 101);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-left: 1.5rem;
}

.shopping_cart_facial_container {
  width: 100%;
  height: 23vh;
  padding-right: 50vw;
  padding-left: 50vw;
  background: black;
}

.search_availabiliy_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(215, 156, 165);
  border-radius: 30px;
  color: white;
}

.cart_subtotal {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 2px solid rgb(211, 211, 211);
  margin-top: -2px;
}

.cart_subtotal p {
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
