.admin_login_page_container {
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.admin_login_content_container {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.admin_sign_in_prompt {
  width: 85%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(121, 121, 121);
}

.admin_login_logo_container {
  position: absolute;
  height: 60%;
  width: 100%;
  top: -22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin_section_designator_container {
  position: absolute;
  top: 19vh;
}

.admin_section_designator_container h2 {
  font-weight: 700;
  color: rgb(77, 77, 77);
}

.admin_login_page_form {
  width: 90%;
}

.admin_forgot_password_question_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.admin_forgot_password_question_container p {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 129, 177);
  cursor: pointer;
}

.admin_login_page_bottom_button_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.admin_log_in_button {
  background: rgb(44, 44, 52);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  padding-left: 6rem;
  padding-right: 6rem;
  white-space: nowrap;
}

/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) with Smaller Heights */
@media only screen and (max-width: 359px) and (max-device-height: 600px) {
  .admin_sign_in_prompt {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .admin_login_page_background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .admin_login_page_container {
    width: 75%;
  }

  .admin_sign_in_prompt {
    font-size: 2rem;
  }

  .admin_log_in_button {
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .admin_login_content_container {
    height: 62%;
  }

  .admin_forgot_password_question_container p {
    font-size: 1.2rem;
  }

  .admin_login_logo_container {
    top: -32vh;
  }
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .admin_login_page_background {
    width: 100%;
    height: 100%;
    /* Photo by Kari Shea on Unsplash */
    background-image: url("../../../images/GlowLabsAdminSectionBackgroundCompressed.jpg");
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: contain;
    position: absolute;
    z-index: -1;
  }

  .admin_login_page_background_blurry {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    height: 100%;
    width: 75%;
    position: absolute;
    right: 0;
  }

  .admin_login_page_container {
    width: 33.333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .admin_login_logo_container {
    top: -22vh;
  }

  .admin_section_designator_container {
    top: 18vh;
  }

  .admin_sign_in_prompt {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .admin_login_content_container {
    height: 52%;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    z-index: 999999;
  }

  .admin_log_in_button {
    font-size: 1rem;
    padding: 0.8rem;
    margin-top: 2rem;
  }
}

/* CSS for Medium Laptops */
@media only screen and (min-width: 1400px) and (max-width: 1500px) and (max-device-height: 900px) {
  .admin_login_content_container {
    height: 52%;
  }
  .admin_log_in_button {
    margin-top: 3rem;
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .admin_login_content_container {
    height: 38%;
  }

  .admin_login_page_container {
    width: 25%;
  }

  .admin_log_in_button {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 3rem;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  /* Safari Only */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .admin_sign_in_prompt {
        padding-top: 0rem;
      }
    }
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .admin_login_content_container {
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    z-index: 999999;
  }

  .admin_sign_in_prompt {
    font-size: 2rem;
    padding-top: 2em;
    padding-bottom: 3rem;
  }

  .admin_log_in_button {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 3rem;
  }

  /* Safari Only */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .admin_sign_in_prompt {
        padding-top: 2rem;
        padding-bottom: 12rem;
      }

      .admin_log_in_button {
        margin-top: 15rem;
      }
    }
  }
}
