/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .landing_page_container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto 1fr;
    grid-template-areas:
      "header header header header"
      "main main main main";
    position: relative;
  }

  .header {
    grid-area: header;
    height: 8vh;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgb(154, 154, 162);
  }

  .main_content {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    grid-area: main;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
  }

  .splash_screen {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    transform: translate(0vh, 3vh);
  }

  .splash_screen h1 {
    display: flex;
    font-size: 3rem;
  }

  .top_content_top_shelf {
    grid-area: main;
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.4));
  }

  .top_content_bottom_shelf {
    grid-area: main;
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.4));
  }

  .bottom_content {
    grid-area: main;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .bottom_content h1 {
    text-align: center;
    color: rgb(44, 44, 52);
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
  }

  .landing_page_text_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .landing_page_description {
    display: flex;
    position: relative;
    align-items: center;
    color: rgba(107, 107, 96, 0.89);
    font-size: 10.2px;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .landing_page_cta {
    display: flex;
    top: 5rem;
    bottom: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: transparent;
    cursor: pointer;
  }

  .call_to_action_button {
    display: none;
  }

  .landing_page_bottom_icon {
    color: rgb(44, 44, 52);
    font-size: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    transition: margin-top 0.07s ease-in-out, opacity 0.5s ease;
  }

  .cta_line {
    border-left: 5px solid rgb(44, 44, 52);
    position: absolute;
    text-align: center;
    border-radius: 2px;
  }

  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .landing_page_cta {
      height: 100%;
      width: 100%;
      position: sticky;
      transition: all 0.5s ease;
    }

    .cta_line {
      margin-top: -1.3rem;
    }
  }

  .potted_plant {
    position: absolute;
    height: 12%;
    width: 25%;
    top: 10.3%;
    left: 22%;
    filter: drop-shadow(10px -2px 2px rgba(0, 0, 0, 0.1));
  }

  .small_plant {
    position: absolute;
    z-index: 2;
    height: 15%;
    width: 25%;
    top: 14.8%;
    left: 28%;
    filter: drop-shadow(10px -2px 2px rgba(0, 0, 0, 0.1));
  }

  .cream {
    z-index: 2;
    position: absolute;
    height: 12%;
    width: 25%;
    top: 12%;
    left: 38%;
    filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, 0.1));
  }

  .hand_cream {
    position: absolute;
    height: 12%;
    width: 25%;
    top: 12.8%;
    left: 55%;
    filter: drop-shadow(7px -2px 2px rgba(0, 0, 0, 0.1));
  }

  .mirror {
    z-index: 2;
    position: absolute;
    height: 12%;
    width: 25%;
    top: 28.8%;
    left: 21%;
    filter: drop-shadow(7px -2px 2px rgba(0, 0, 0, 0.1));
  }

  .bottle {
    z-index: 2;
    position: absolute;
    height: 12%;
    width: 25%;
    top: 31.5%;
    left: 36%;
    filter: drop-shadow(7px -2px 2px rgba(0, 0, 0, 0.1));
  }

  .q_tips {
    position: absolute;
    z-index: 2;
    height: 15%;
    width: 25%;
    top: 34.6%;
    left: 52.5%;
    filter: drop-shadow(7px -2px 2px rgba(0, 0, 0, 0.1));
  }

  .sun_screen {
    position: absolute;
    height: 12%;
    width: 25%;
    top: 31%;
    left: 57%;
    filter: drop-shadow(7px -2px 2px rgba(0, 0, 0, 0.1));
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .landing_page_cta {
      min-height: 100%;
      min-width: 100%;
      position: -webkit-sticky;
    }

    .cta_line {
      margin-top: -1rem;
    }

    .mirror {
      z-index: 2;
      position: absolute;
      top: 29.2%;
    }

    .q_tips {
      top: 34.9%;
    }

    .small_plant {
      top: 15%;
    }

    .bottom_content h1 {
      text-align: center;
      color: rgb(44, 44, 52);
      font-size: 1.3rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 700;
    }

    .landing_page_description {
      line-height: 1rem;
    }
  }
}

/* CSS for Small Portrait Screens (e.g. iPhone 6/7/8, iPhone X) */
@media only screen and (min-width: 360px) {
  .potted_plant {
    height: 15%;
    top: 10%;
    left: 20%;
  }

  .small_plant {
    top: 16.8%;
  }

  .cream {
    height: 15%;
    top: 12.6%;
  }

  .hand_cream {
    height: 15%;
    top: 13%;
    left: 57%;
  }

  .mirror {
    height: 15%;
    top: 29.1%;
    left: 20%;
  }

  .bottle {
    height: 15%;
    top: 31.8%;
    left: 38%;
  }

  .q_tips {
    left: 54%;
    top: 36.25%;
  }

  .sun_screen {
    height: 15%;
    top: 31.5%;
    left: 59%;
  }

  .bottom_content h1 {
    font-size: 1.65rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .landing_page_description {
    font-size: 12.5px;
    line-height: 1.5rem;
  }

  .splash_screen {
    margin-top: 0;
    margin-bottom: 4rem;
    transform: translate(0vh, 10vh);
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .landing_page_bottom_icon {
      margin-top: 1.5rem;
    }

    .cta_line {
      margin-top: -1.5rem;
    }
  }

  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .cta_line {
      margin-top: -2rem;
    }

    .landing_page_bottom_icon {
      margin-top: 0.5rem;
    }
  }
}

/* Additional CSS for Small Portrait Phones Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 740px) {
  .cta_line {
    margin-top: -2.7rem;
  }

  .call_to_action_buttons_container {
    padding-top: 1rem;
  }
}

/* Additional CSS for Small Portrait Phones Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 700px) {
  .small_plant {
    top: 17.4%;
  }

  .cream {
    top: 12.2%;
  }

  .mirror {
    top: 28.5%;
  }

  .q_tips {
    top: 37.1%;
  }
}

/* Additional CSS for Small Portrait Phones Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (min-device-height: 701px) {
  .small_plant {
    top: 17%;
  }

  .q_tips {
    top: 36.5%;
  }
}

/* Additional CSS for Small Portrait Phones Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 670px) {
  .cta_line {
    margin-top: -1.3rem;
  }

  .call_to_action_buttons_container {
    padding-top: 0;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .landing_page_description {
      font-size: 12.5px;
      line-height: 1.3rem;
    }

    .bottom_content h1 {
      font-size: 1.4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

/* Additional CSS for Small Portrait Phones Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 650px) {
  .cta_line {
    margin-top: -2.2rem;
  }

  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .mirror {
      top: 28.8%;
    }

    .q_tips {
      top: 37.6%;
    }

    .small_plant {
      top: 18%;
    }

    .bottom_content h1 {
      font-size: 1.2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .landing_page_description {
      font-size: 12px;
      line-height: 1.2rem;
    }
  }
}

/* CSS for Pixel 4, Galaxy Note 9 */
@media only screen and (min-width: 360px) and (min-device-height: 740px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .bottom_content h1 {
      font-size: 1.4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .landing_page_description {
      font-size: 12px;
      line-height: 1.3rem;
    }

    .cta_line {
      margin-top: -2.5rem;
    }
  }
}

/* Additional CSS for iPhones 11 Pro, X, Xs */
@media only screen and (min-width: 375px) and (min-device-height: 800px) and (max-device-height: 815px) {
  .cta_line {
    margin-top: -1.9rem;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .bottom_content h1 {
      font-size: 1.4rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .landing_page_description {
      font-size: 12px;
      line-height: 1.2rem;
    }

    .cta_line {
      margin-top: -1.9rem;
    }
  }
}

/* CSS for Average Portrait Screens (e.g. iPhone 11) */
@media only screen and (min-width: 410px) {
  .splash_screen {
    transform: translate(0vh, 0vh);
  }

  .mirror {
    top: 28.6%;
  }

  .cream {
    top: 12.3%;
  }

  .landing_page_description {
    font-size: 14px;
    line-height: 1.5rem;
  }

  .glow_labs_logo_animation {
    position: absolute;
    top: 5%;
  }

  .call_to_action_buttons_container {
    padding-top: 0;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .landing_page_bottom_icon {
      margin-top: -5rem;
    }

    .cta_line {
      margin-top: -1.5rem;
    }
  }

  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .cta_line {
      margin-top: -2.8rem;
    }

    .landing_page_bottom_icon {
      margin-top: 0rem;
    }
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (min-device-height: 850px) {
  .cta_line {
    margin-top: -3.5rem;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .landing_page_bottom_icon {
      margin-top: -5rem;
    }

    .cta_line {
      margin-top: -1.5rem;
    }
  }
}

/* CSS for Galaxy Note S9+ */
@media only screen and (min-width: 410px) and (min-device-height: 840px) and (max-device-height: 849px) {
  .cta_line {
    margin-top: -1rem;
  }

  .q_tips {
    top: 36.2%;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (max-device-height: 830px) {
  .cta_line {
    margin-top: -0.7rem;
  }

  .call_to_action_buttons_container {
    padding-top: 1rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (max-device-height: 800px) {
  .mirror {
    top: 28.2%;
  }

  .cream {
    top: 12%;
  }

  .q_tips {
    top: 37%;
  }

  .small_plant {
    top: 17%;
  }

  .call_to_action_buttons_container {
    padding-top: 0rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (max-device-height: 740px) {
  .cta_line {
    margin-top: -3rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (max-device-height: 731px) {
  .cta_line {
    margin-top: -0.3rem;
  }
}

/* Additional CSS for iPhones 6+, 6s+, 7+, 8+ */
@media only screen and (min-width: 410px) and (min-device-height: 700px) and (max-device-height: 800px) {
  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .splash_screen {
      transform: translate(0vh, 7vh);
    }

    .small_plant {
      top: 17.4%;
    }

    .landing_page_description {
      font-size: 14px;
      line-height: 1.3rem;
    }
  }
}

/* Google Pixel 4XL */
@media screen and (device-width: 480px) and (device-height: 1014px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .cta_line {
      margin-top: -3rem;
    }

    .potted_plant {
      height: 10%;
      top: 14%;
      left: 22%;
    }

    .small_plant {
      height: 10%;
      top: 19%;
      left: 29%;
    }

    .cream {
      height: 10%;
      top: 15.3%;
    }

    .hand_cream {
      height: 10%;
      top: 16%;
      left: 55%;
    }

    .mirror {
      height: 10%;
      top: 32.3%;
      left: 22%;
    }

    .bottle {
      height: 10%;
      top: 34.8%;
      left: 37%;
    }

    .q_tips {
      height: 10%;
      left: 52%;
      top: 38.2%;
    }

    .sun_screen {
      height: 10%;
      top: 34%;
      left: 57%;
    }

    .bottom_content h1 {
      font-size: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-left: 3.1rem;
      margin-right: 3rem;
    }

    .landing_page_description {
      font-size: 16px;
      line-height: 1.8rem;
    }
  }
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 560px) {
  .splash_screen {
    transform: scale(2) translate(0vh, 17vh);
  }

  .bottom_content {
    padding-top: 30vh;
    height: 100vh;
    background: rgb(251, 251, 251);
  }

  .bottom_content h1 {
    display: flex;
    align-self: flex-start;
    text-align: left;
    font-size: 1.7rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
    margin-left: 3.1rem;
    margin-right: 3rem;
  }

  .landing_page_text_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 10rem;
  }

  .landing_page_description {
    display: flex;
    position: relative;
    align-items: flex-start;
    font-size: 0.9rem;
    line-height: 1.7rem;
    text-align: left;
    margin-left: 3.1rem;
    margin-right: 3.1rem;
    padding-bottom: 8rem;
  }

  .landing_page_cta {
    display: none;
  }

  .call_to_action_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .call_to_action_button {
    display: inline-block;
    background: rgb(0, 129, 177);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 3.1rem;
    margin-top: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 40px;
    cursor: pointer;
  }

  .bottom_content {
    right: 50%;
  }

  .top_content_top_shelf {
    left: 50%;
    right: 0;
  }

  .top_content_bottom_shelf {
    left: 50%;
    right: 0;
  }

  .potted_plant {
    z-index: 2;
    height: 20%;
    width: 35%;
    top: 13%;
    left: 50%;
  }

  .small_plant {
    height: 21%;
    width: 22%;
    top: 22.8%;
    left: 60%;
  }

  .cream {
    z-index: 2;
    height: 20%;
    width: 25%;
    top: 16%;
    left: 63.5%;
  }

  .hand_cream {
    z-index: 2;
    height: 19%;
    width: 20%;
    top: 18%;
    left: 73.5%;
  }

  .mirror {
    z-index: 2;
    height: 20%;
    width: 25%;
    top: 45%;
    left: 55%;
  }

  .bottle {
    z-index: 2;
    height: 20%;
    top: 49.5%;
    left: 62%;
  }

  .q_tips {
    height: 25%;
    width: 25%;
    top: 55%;
    left: 70%;
  }

  .sun_screen {
    z-index: 2;
    height: 22%;
    width: 10%;
    top: 47%;
    left: 80%;
  }
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .splash_screen {
    transform: scale(1) translate(0vh, 10vh);
  }

  .top_content_top_shelf {
    left: 0;
    right: 0;
  }

  .top_content_bottom_shelf {
    left: 0;
    right: 0;
  }

  .potted_plant {
    height: 11%;
    top: 12.2%;
    left: 16%;
  }

  .small_plant {
    height: 10%;
    top: 18.2%;
    left: 30%;
  }

  .cream {
    height: 13%;
    width: 25%;
    top: 12%;
    left: 38%;
  }

  .hand_cream {
    height: 19%;
    width: 20%;
    top: 9.8%;
    left: 58%;
  }

  .mirror {
    height: 12%;
    width: 25%;
    top: 29.5%;
    left: 22%;
  }

  .bottle {
    height: 12%;
    top: 32%;
    left: 35.5%;
  }

  .q_tips {
    height: 25%;
    width: 25%;
    top: 30.2%;
    left: 52.5%;
  }

  .sun_screen {
    height: 20%;
    width: 20%;
    top: 26.8%;
    left: 60%;
  }
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .splash_screen {
    font-size: 3em;
    transform: scale(1.3) translate(0vh, 20vh);
  }

  .header {
    height: 8vh;
  }

  .bottom_content {
    padding-top: 2vh;
  }

  .bottom_content h1 {
    display: flex;
    align-self: flex-start;
    margin-left: 3.1rem;
    text-align: left;
    font-size: 3rem;
    padding-top: 7rem;
    padding-bottom: 1.2rem;
    margin-right: 3rem;
  }

  .landing_page_text_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 9rem;
    margin-top: 4rem;
  }

  .landing_page_description {
    display: flex;
    position: relative;
    align-items: flex-start;
    font-size: 1.45rem;
    line-height: 3rem;
    text-align: left;
    margin-left: 3.1rem;
    margin-right: 3.1rem;
  }

  .landing_page_cta {
    display: none;
  }

  .call_to_action_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .call_to_action_button {
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 3.1rem;
    margin-top: 0rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 40px;
    cursor: pointer;
  }

  .call_to_action_button:hover {
    background: rgb(0, 79, 127);
    transition: all 0.5s ease;
  }

  .bottom_content {
    right: 50%;
  }

  .top_content_top_shelf {
    left: 50%;
    right: 0;
  }

  .top_content_bottom_shelf {
    left: 50%;
    right: 0;
  }

  .potted_plant {
    z-index: 2;
    height: 20%;
    width: 50%;
    top: 16%;
    left: 41%;
  }

  .small_plant {
    height: 23%;
    width: 25%;
    top: 25%;
    left: 58%;
  }

  .cream {
    z-index: 2;
    height: 20%;
    width: 25%;
    top: 19%;
    left: 64%;
  }

  .hand_cream {
    z-index: 2;
    height: 17%;
    width: 20%;
    top: 22%;
    left: 75%;
  }

  .mirror {
    z-index: 2;
    height: 25%;
    width: 25%;
    top: 54%;
    left: 53%;
  }

  .bottle {
    z-index: 2;
    height: 25%;
    top: 60%;
    left: 62.5%;
  }

  .q_tips {
    height: 35%;
    width: 25%;
    top: 65%;
    left: 74%;
  }

  .sun_screen {
    z-index: 2;
    height: 25%;
    width: 10%;
    top: 61%;
    left: 81%;
  }

  /* Safari Only */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .splash_screen {
        font-size: 2em;
        transform: scale(0.6) translate(0vh, -60vh);
      }

      .potted_plant {
        height: 10%;
        width: 10%;
        top: 7%;
        left: 60%;
      }

      .small_plant {
        height: 12%;
        width: 12%;
        top: 11.25%;
        left: 63%;
      }

      .cream {
        height: 11%;
        width: 11%;
        top: 8%;
        left: 70%;
      }

      .hand_cream {
        height: 10%;
        width: 10%;
        top: 9.25%;
        left: 80%;
      }

      .mirror {
        height: 11%;
        width: 11%;
        top: 27%;
        left: 59%;
      }

      .bottle {
        height: 11%;
        top: 29.5%;
        left: 61%;
      }

      .q_tips {
        height: 15%;
        width: 15%;
        top: 31.75%;
        left: 77%;
      }

      .sun_screen {
        height: 12%;
        width: 12%;
        margin-top: -58em;
        left: 81%;
      }
    }
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .splash_screen {
    transform: scale(1.3) translate(0vh, 10vh);
  }

  .bottom_content h1 {
    font-size: 3.6rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }

  .landing_page_description {
    font-size: 1.7rem;
    line-height: 3.5rem;
    padding-bottom: 0rem;
    margin-bottom: 0.2rem;
  }

  .call_to_action_button {
    font-size: 1.5rem;
    padding: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .glow_labs_logo_animation {
    position: absolute;
    top: 15%;
  }

  .bottom_content h1 {
    text-align: left;
    font-size: 4rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .landing_page_description {
    font-size: 2rem;
    line-height: 4rem;
  }

  .landing_page_cta {
    display: none;
  }

  .call_to_action_button {
    font-size: 2rem;
    margin-top: 4rem;
  }

  .sun_screen {
    top: 60%;
    left: 83%;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .sun_screen {
    top: 61%;
    left: 81%;
  }

  .landing_page_text_block {
    margin-bottom: 9rem;
  }

  .bottom_content h1 {
    font-size: 6.1rem;
    padding-top: 15rem;
  }

  .landing_page_description {
    font-size: 2.9rem;
    line-height: 5.5rem;
  }

  /* Safari 7.1+ */

  _::-webkit-full-page-media,
  _:future,
  .hand_cream,
  .sun_screen {
    transform: scale(1.7) translate(0, 320%);
    -webkit-transform: scale(1.7) translate(0, 320%);
  }
  _::-webkit-full-page-media,
  _:future,
  .sun_screen {
    transform: scale(1.7) translate(0, 325%);
    -webkit-transform: scale(1.7) translate(0, 325%);
  }
  _::-webkit-full-page-media,
  _:future,
  .q_tips {
    transform: scale(2) translate(0, 125%);
    -webkit-transform: scale(2) translate(0, 125%);
  }

  _::-webkit-full-page-media,
  _:future,
  .hand_cream {
    transform: scale(1.8) translate(0, 107%);
    -webkit-transform: scale(1.8) translate(0, 107%);
  }

  _::-webkit-full-page-media,
  _:future,
  .cream {
    transform: scale(1.8) translate(0, 96%);
    -webkit-transform: scale(1.8) translate(0, 96%);
  }

  _::-webkit-full-page-media,
  _:future,
  .bottle {
    transform: scale(2) translate(0, 150%);
    -webkit-transform: scale(2) translate(0, 150%);
  }

  _::-webkit-full-page-media,
  _:future,
  .small_plant {
    transform: scale(2) translate(1%, 95%);
    -webkit-transform: scale(2) translate(1%, 95%);
  }

  _::-webkit-full-page-media,
  _:future,
  .potted_plant {
    transform: scale(2) translate(0, 90%);
    -webkit-transform: scale(2) translate(0, 90%);
  }

  _::-webkit-full-page-media,
  _:future,
  .mirror {
    transform: scale(2.2) translate(0, 122%);
    -webkit-transform: scale(2.2) translate(0, 122%);
  }
}
