.landing_page_container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    "header header header header"
    "main main main main";
  background: rgb(255, 198, 207);
  margin-bottom: 1.5rem;
}

.header {
  grid-area: header;
  height: 8vh;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 500;
  background: rgb(255, 198, 207);
}

.main_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-area: main;
  background-color: white;
  align-items: center;
  justify-content: center;
  background: rgb(255, 198, 207);
}

.main_heading {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.main_heading h1 {
  display: flex;
  font-size: 3rem;
}

.bottom_content {
  grid-area: main;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
}

.bottom_content h1 {
  text-align: center;
  color: rgb(225, 166, 175);
}

.bottom_content p {
  display: flex;
  align-items: center;
  color: rgba(107, 107, 96, 0.89);
  font-size: 14px;
  line-height: 1.5rem;
  text-align: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.landing_page_cta {
  display: flex;
  align-self: center;
  color: rgb(0, 0, 0s);
}

.landing_page_down_arrow {
  display: flex;
  align-self: center;
}
