.microneedle_wrapping {
  display: grid;
  grid-area: microneedle_card;
  height: 28.6666667vh;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.microneedle_icon_path {
  transform: scale(0.45);
}
