.admin_menu_container {
  height: 100vh;
  padding-top: 8vh;
  background: rgb(255, 255, 255);
}

.admin_menu_page_header {
  color: rgb(44, 44, 52);
  height: 8vh;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
  border-bottom: solid 1px rgb(44, 44, 52);
}

.admin_menu_page_header h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.admin_menu_content_container {
  height: 66%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.admin_menu_content_container div {
  width: 85%;
  height: 12vh;
  box-shadow: 1px 0px 1px 0px rgba(177, 177, 166, 0.7),
    -1px 0px 1px 0px rgba(177, 177, 166, 0.7),
    0px -1px 1px 0px rgba(177, 177, 166, 0.7),
    0px 2px 1px 0px rgba(177, 177, 166, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  background: rgba(0, 129, 177, 0.1);
}

.admin_menu_content_container div h2 {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  padding-left: 1rem;
  font-weight: 600;
  color: rgb(44, 44, 52);
}

.admin_menu_box_icon {
  width: 100%;
  font-size: 2rem;
  display: flex;
  color: rgb(44, 44, 52);
}

.admin_menu_box_container_link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.admin_menu_box_container_link > span {
  position: relative !important;
}

.small_menu_notifications_circle_counter {
  display: inline;
  color: red;
  position: relative;
}

.small_menu_notifications_circle_counter + p {
  font-size: 0.6rem !important;
  position: absolute;
  color: white;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
  margin: 0 auto !important;
  font-weight: 600;
}
