/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .select_time_container {
    padding-top: 8vh;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
  }

  .select_time_container h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .select_time_container_header {
    color: rgb(44, 44, 52);
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 100%;
    position: relative;
  }

  .select_time_back_arrow {
    color: rgb(44, 44, 52);
    position: absolute;
    left: 1.5rem;
    font-size: 1.5rem;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .select_time_forward_arrow {
    color: rgb(44, 44, 52);
    position: absolute;
    right: 1.5rem;
    font-size: 1.5rem;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .time_statement {
    margin-top: 2vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .select_a_time_header {
    width: 100%;
    height: 5vh;
    background: rgb(211, 211, 211);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .select_a_time_header h2 {
    color: rgb(101, 101, 101);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-self: center;
    margin-left: 1.5rem;
  }

  .time_of_day_card_container {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }

  .time_of_day_selectors_wrapper {
    height: 100%;
    margin-top: 2vh;
  }

  .time_of_day_card_top_wrapping {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2vh;
    padding-top: 2vh;
    background: rgba(231, 231, 231, 0.8);
  }

  .time_of_day_card_show_more {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 129, 177);
    padding-right: 1.5rem;
    cursor: pointer;
  }

  .time_of_day_heading {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1.5rem;
  }

  .inner_times_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 101%;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .individual_time_wrapper {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    min-width: 32%;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2vh;
    margin-right: 0.275rem;
    cursor: pointer;
  }

  .time_preference_bottom_buttons_container {
    width: 100%;
    margin-bottom: 6vh;
    padding-bottom: 6vh;
  }

  .time_preference_continue_button {
    display: flex;
    margin: 0 auto;
    width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem;
    background: rgb(44, 44, 52);
    border-radius: 30px;
    color: white;
  }

  .change_date_button {
    display: flex;
    margin: 0 auto;
    width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(44, 44, 52);
    border-radius: 30px;
    color: rgb(44, 44, 52);
    margin-top: 1.5rem;
  }
}

/* CSS Only Targeting the Smallest Phones */
@media only screen and (max-width: 330px) {
  .individual_time_wrapper {
    min-width: 31%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }

  .time_of_day_card_show_more {
    font-size: 0.8rem;
  }

  .time_of_day_heading {
    font-size: 1.1rem;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  .select_time_back_arrow,
  .select_time_forward_arrow,
  .select_time_container h1 {
    font-size: 1.2rem;
  }

  .select_a_time_header {
    height: 6vh;
  }

  .select_a_time_header h2 {
    font-size: 0.9rem;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .time_of_day_card_top_wrapping {
      padding-bottom: 3vh;
      padding-top: 3vh;
    }
  }
}

/* CSS Only Targeting Smaller Phones */
@media only screen and (min-width: 331px) and (max-width: 360px) {
  .individual_time_wrapper {
    min-width: 31%;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  .select_time_back_arrow,
  .select_time_forward_arrow,
  .select_time_container h1 {
    font-size: 1.2rem;
  }

  .select_a_time_header {
    height: 6vh;
  }

  .select_a_time_header h2 {
    font-size: 0.9rem;
  }
  .time_of_day_card_show_more {
    font-size: 0.9rem;
  }

  .time_of_day_heading {
    font-size: 1.2rem;
  }
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .select_time_container h1 {
    font-size: 2rem;
  }

  .select_time_forward_arrow,
  .select_time_back_arrow {
    font-size: 2rem;
    cursor: pointer;
  }

  .select_time_back_arrow {
    left: 3.1rem;
  }

  .select_time_forward_arrow {
    right: 3.1rem;
  }

  .select_a_time_header h2 {
    font-size: 1.5rem;
    margin-left: 3.1rem;
  }

  .time_statement {
    margin-left: 3.1rem;
    margin-right: 3.1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .time_of_day_heading {
    font-size: 2rem;
    padding-left: 3.1rem;
  }

  .time_of_day_card_show_more {
    font-size: 1.5rem;
    padding-right: 3.1rem;
  }

  .inner_times_wrapper {
    width: 101%;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }

  .inner_times_wrapper p {
    font-size: 2rem;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 1.5rem;
    padding: 0.8rem;
  }
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .select_time_container h1 {
    font-size: 2.5rem;
  }

  .select_time_forward_arrow,
  .select_time_back_arrow {
    font-size: 2rem;
    cursor: pointer;
  }

  .select_time_back_arrow {
    left: 3.1rem;
  }

  .select_time_forward_arrow {
    right: 3.1rem;
  }

  .select_a_time_header h2 {
    font-size: 1.5rem;
    margin-left: 3.1rem;
  }

  .time_statement {
    margin-left: 3.1rem;
    margin-right: 3.1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .time_of_day_card_show_more {
    font-size: 1.5rem;
    padding-right: 3.1rem;
  }

  .time_of_day_heading {
    font-size: 2rem;
    padding-left: 3.1rem;
  }

  .inner_times_wrapper {
    width: 101%;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }

  .inner_times_wrapper p {
    font-size: 2rem;
  }

  .individual_time_wrapper {
    transition: background 0.5s ease;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .time_preference_bottom_buttons_container {
    position: relative;
    padding-bottom: 0vh;
  }
}

/* CSS for Medium Desktops/Laptops (e.g. Microsoft Surface Pro) */
@media only screen and (min-width: 1400px) {
  .select_time_container h1 {
    font-size: 1.5rem;
  }

  .select_time_forward_arrow,
  .select_time_back_arrow {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .select_time_back_arrow {
    left: 1.5rem;
  }

  .select_time_forward_arrow {
    right: 1.5rem;
  }

  .select_a_time_header h2 {
    font-size: 1rem;
    margin-left: 1.5rem;
  }

  .time_statement {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    line-height: 1.2rem;
  }

  .time_of_day_card_show_more {
    font-size: 1rem;
    padding-right: 1.5rem;
  }

  .time_of_day_heading {
    font-size: 1.5rem;
    padding-left: 1.5rem;
  }

  .inner_times_wrapper {
    width: 101%;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .inner_times_wrapper p {
    font-size: 1.5rem;
  }

  .individual_time_wrapper {
    transition: background 0.5s ease;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .time_preference_bottom_buttons_container {
    position: relative;
    padding-bottom: 0vh;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .select_time_container h1 {
    font-size: 1.5rem;
  }

  .select_time_forward_arrow,
  .select_time_back_arrow {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .select_time_back_arrow {
    left: 3.1rem;
  }

  .select_time_forward_arrow {
    right: 3.1rem;
  }

  .select_a_time_header h2 {
    font-size: 1rem;
    margin-left: 3.1rem;
  }

  .time_statement {
    margin-left: 3.1rem;
    margin-right: 3.1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 2vh;
    margin-bottom: 0vh;
  }

  .time_of_day_card_show_more {
    font-size: 1rem;
    padding-right: 3.1rem;
  }

  .time_of_day_heading {
    font-size: 1.5rem;
    padding-left: 3.1rem;
  }

  .inner_times_wrapper {
    width: 101%;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }

  .inner_times_wrapper p {
    font-size: 1.2rem;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .time_preference_bottom_buttons_container {
    position: relative;
    padding-bottom: 0vh;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .select_time_container h1 {
    font-size: 2.5rem;
  }

  .select_time_forward_arrow,
  .select_time_back_arrow {
    font-size: 2rem;
    cursor: pointer;
  }

  .select_time_back_arrow {
    left: 3.1rem;
  }

  .select_time_forward_arrow {
    right: 3.1rem;
  }

  .select_a_time_header h2 {
    font-size: 1.5rem;
    margin-left: 3.1rem;
  }

  .time_statement {
    margin-left: 3.1rem;
    margin-right: 3.1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .time_of_day_card_show_more {
    font-size: 1.5rem;
    padding-right: 3.1rem;
  }

  .time_of_day_heading {
    font-size: 2rem;
    padding-left: 3.1rem;
  }

  .inner_times_wrapper {
    width: 101%;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding-bottom: 1.5rem;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }

  .inner_times_wrapper p {
    font-size: 2rem;
  }

  .individual_time_wrapper {
    min-width: 32%;
    font-size: 1.2rem;
    border-radius: 30px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2vh;
    margin-right: 0.275rem;
  }

  .time_preference_continue_button,
  .change_date_button {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .time_preference_bottom_buttons_container {
    position: relative;
    padding-bottom: 0vh;
  }
}
