.select_time_container {
  padding-top: 8vh;
  height: 100%;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

.select_time_container h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.select_time_container_header {
  color: rgb(165, 138, 127);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
}

.select_time_back_arrow {
  color: rgb(165, 138, 127);
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.select_time_forward_arrow {
  color: rgb(165, 138, 127);
  position: absolute;
  right: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.time_statement {
  margin-top: 2vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.select_a_time_header {
  width: 100%;
  height: 5vh;
  background: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.select_a_time_header h2 {
  color: rgb(101, 101, 101);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-left: 1.5rem;
}

.time_of_day_card_container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.time_of_day_selectors_wrapper {
  height: 100%;
  margin-top: 2vh;
}

.time_of_day_card_top_wrapping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2vh;
  padding-top: 1.5rem;
  background: rgba(231, 231, 231, 0.8);
}

.time_of_day_card_show_more {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(165, 138, 127);
  padding-right: 1.5rem;
}

.time_of_day_heading {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1.5rem;
}

.inner_times_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 101%;
  flex-wrap: wrap;
  margin-top: 2vh;
  margin-bottom: 1vh;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.individual_time_wrapper {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  min-width: 32%;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 30px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2vh;
  margin-right: 0.275rem;
}

.time_preference_bottom_buttons_container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 6vh;
  padding-bottom: 6vh;
}

.time_preference_continue_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(165, 138, 127);
  border-radius: 30px;
  color: white;
}

.change_date_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(165, 138, 127);
  border-radius: 30px;
  color: rgb(165, 138, 127);
  margin-top: 1.5rem;
}
