.select_time_container {
  padding-top: 8vh;
  height: 100%;
  background: rgb(255, 255, 255);
}

.select_time_container h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.select_time_container_header {
  color: rgb(215, 156, 165);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
}

.select_time_back_arrow {
  color: rgb(215, 156, 165);
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.select_time_forward_arrow {
  color: rgb(215, 156, 165);
  position: absolute;
  right: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.time_statement {
  margin-top: 2vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.select_a_time_header {
  width: 100%;
  height: 5vh;
  background: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.select_a_time_header h2 {
  color: rgb(101, 101, 101);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-left: 1.5rem;
}

.time_of_day_selectors_wrapper {
  height: 100%;
  margin-top: 2vh;
}

.time_of_day_card_container {
  border-top: 1px solid rgb(211, 211, 211);
  padding: 1.5rem;
}

.time_of_day_card_top_wrapping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.time_of_day_card_show_more {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(185, 126, 135);
}

.time_of_day_heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.inner_times_wrapper {
  display: flex;
  justify-content: flex-start;
  min-width: 101%;
  flex-wrap: wrap;
  margin-bottom: -8vh;
  margin-bottom: 1vh;
  margin-right: -2rem;
  margin: 0 -1px;
}

.individual_time_wrapper {
  text-align: center;
  border: 3px solid rgb(215, 156, 165);
  min-width: 32%;
  color: rgb(215, 156, 165);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 30px;
  padding-top: 0.6em;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2vh;
  margin-right: 0.275rem;
}
