.admin_schedule_container {
  height: 100%;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  position: relative;
  padding-top: 8vh;
}

.admin_schedule_header {
  color: rgb(44, 44, 52);
  height: 8vh;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  border-bottom: solid 1px rgb(44, 44, 52);
  position: fixed;
  background: rgb(255, 255, 255);
  z-index: 5;
}

.admin_schedule_header h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.admin_schedule_back_arrow {
  color: rgb(44, 44, 52);
  z-index: 9999;
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.admin_schedule_calendar_main_container {
  position: absolute;
  height: 65vh;
  width: 100%;
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* React Big Calendar Style Resets */
.rbc-toolbar {
  font-size: 10px !important;
}

.rbc-toolbar button {
  font-size: 8px !important;
}

.rbc-header {
  font-size: 9px !important;
}

.rbc-toolbar button {
  padding: 0.375rem 0.3rem !important;
}

.rbc-toolbar .rbc-toolbar-label {
  padding: 0 1px !important;
}

.rbc-timeview,
.rbc-allday-cell {
  display: none;
}

.rbc-event-label,
.rbc-event-content {
  font-size: 9px !important;
}

.rbc-agenda-date-cell {
  padding: 5px 2px !important;
}

.rbc-agenda-time-cell {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .admin_schedule_container {
    position: relative;
    height: 100vh;
    padding-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
  }

  .admin_schedule_header {
    position: absolute;
    top: 8vh;
    left: 10%;
    height: 8vh;
    font-weight: 600;
    width: 100%;
  }

  .admin_schedule_header h1 {
    font-size: 2rem;
  }

  .admin_schedule_back_arrow {
    display: none;
  }

  .admin_schedule_calendar_main_container {
    position: absolute;
    height: 65vh;
    width: 65%;
    top: 12vh;
    bottom: 0;
    left: 15vw;
    right: 15vw;
    margin: 0 auto;
  }

  /* React Big Calendar Style Re-Resets */
  .rbc-toolbar {
    font-size: 16px !important;
  }

  .rbc-toolbar button {
    font-size: 16px !important;
  }

  .rbc-header {
    font-size: 90% !important;
  }

  .rbc-toolbar button {
    padding: 0.375rem 1rem !important;
  }

  .rbc-toolbar .rbc-toolbar-label {
    padding: 0 10px !important;
  }

  .rbc-timeview,
  .rbc-allday-cell {
    display: block;
  }

  .rbc-event-label,
  .rbc-event-content {
    font-size: 13px !important;
  }

  .rbc-agenda-date-cell {
    padding: 5px 10px !important;
  }

  .rbc-agenda-time-cell {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
