.confirmation_page_container {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 8vh;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
}

.confirmation_page_container h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.confirmation_page_container_header {
  color: rgb(44, 44, 52);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
}

.confirmation_page_back_arrow {
  color: rgb(44, 44, 52);
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.confirmation_page_statement {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.confirmation_page_header {
  width: 100%;
  height: 5vh;
  background: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.confirmation_page_header h2 {
  color: rgb(101, 101, 101);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-left: 1.5rem;
}

.confirmation_page_header h3 {
  color: rgb(101, 101, 101);
  font-size: 1rem;
  font-weight: 500;
}

.summary_selected_date_container,
.summary_selected_time_container {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 2vh;
}

.summary_selected_date_container p,
.summary_selected_time_container p {
  font-weight: 500;
}

.summary_calendar_icon,
.summary_clock_icon {
  margin-right: 0.5rem;
}

.summary_facial_container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.summary_add_ons_container {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
}

.summary_facial_container h2,
.summary_add_ons_container h2 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.summary_facial_container_title,
.summary_add_ons_container_title {
  background: rgba(211, 211, 211, 0.3);
}

.summary_card_subtotal_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: 1px solid rgb(211, 211, 211);
  padding-top: 4vh;
  margin-top: -1px;
}

.summary_card_subtotal_container p {
  font-size: 2.2rem;
  font-weight: 600;
}

.book_appointment_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(44, 44, 52);
  border-radius: 30px;
  color: white;
  margin-top: 6vh;
  margin-bottom: 12vh;
}

.final_booking_modal {
  -webkit-box-shadow: -1px 2px 20px 4px rgba(99, 99, 99, 1);
  -moz-box-shadow: -1px 2px 20px 4px rgba(99, 99, 99, 1);
  box-shadow: -1px 2px 20px 4px rgba(99, 99, 99, 1);
  position: fixed;
  z-index: 5;
  height: 70%;
  margin-top: -10%;
  border-radius: 10px;
  width: 80vw;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(244, 239, 243);
}

.modal_x {
  position: absolute;
  top: 3%;
  right: 7%;
  color: rgb(0, 129, 177);
  font-size: 2rem;
}

.modal_calendar_icon {
  position: absolute;
  bottom: -15%;
}

.modal_calendar_icon_container {
  position: relative;
  width: 100%;
  height: 5%;
  padding-bottom: 24%;
  background: -webkit-linear-gradient(
    to left,
    transparent 35%,
    rgba(165, 138, 127, 0.3) 35%,
    rgba(165, 138, 127, 0.3) 65%,
    transparent 50%
  );
  background: -moz-linear-gradient(
    to left,
    transparent 35%,
    rgba(165, 138, 127, 0.3) 35%,
    rgba(165, 138, 127, 0.3) 65%,
    transparent 50%
  );
  background: -ms-linear-gradient(
    to left,
    transparent 35%,
    rgba(165, 138, 127, 0.3) 35%,
    rgba(165, 138, 127, 0.3) 65%,
    transparent 50%
  );
  background: linear-gradient(
    to left,
    transparent 35%,
    rgba(165, 138, 127, 0.3) 35%,
    rgba(165, 138, 127, 0.3) 65%,
    transparent 50%
  );
}

.modal_checkmark {
  display: block;
  height: 3rem;
  position: absolute;
  top: 5%;
  bottom: 0;
}

.final_booking_modal_contents {
  height: 100%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 1.3rem;
}

.modal_confirmation_statement {
  font-weight: 500;
  text-align: center;
  line-height: 1.5rem;
}

.modal_appointment_time,
.modal_appointment_provider,
.modal_appointment_spacer {
  font-weight: 600;
  font-size: 1.3rem;
  display: inline-block;
}

.modal_appointment_spacer {
  color: rgb(203, 193, 191);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.modal_bold_details_container {
  display: inline-block;
}

.modal_bottom_info_container {
  width: 100%;
}

.modal_date_time_container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal_full_date_info {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(121, 121, 121);
  text-align: center;
}

.modal_address_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.modal_address_container p {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(121, 121, 121);
}

.dismiss_modal_button {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgb(44, 44, 52);
  border-radius: 30px;
  color: white;
  margin-bottom: 50%;
}

/* CSS for Average Portrait Screens (e.g. iPhone 11) */
@media only screen and (min-width: 410px) {
  .final_booking_modal {
    height: 80%;
    margin-top: 2%;
  }

  .modal_calendar_icon_container {
    height: 5%;
    padding-bottom: 21%;
    background: -webkit-linear-gradient(
      to left,
      transparent 36%,
      rgba(165, 138, 127, 0.3) 0%,
      rgba(165, 138, 127, 0.3) 64%,
      transparent 50%
    );
    background: -moz-linear-gradient(
      to left,
      transparent 36%,
      rgba(165, 138, 127, 0.3) 0%,
      rgba(165, 138, 127, 0.3) 64%,
      transparent 50%
    );
    background: -ms-linear-gradient(
      to left,
      transparent 36%,
      rgba(165, 138, 127, 0.3) 0%,
      rgba(165, 138, 127, 0.3) 64%,
      transparent 50%
    );
    background: linear-gradient(
      to left,
      transparent 36%,
      rgba(165, 138, 127, 0.3) 0%,
      rgba(165, 138, 127, 0.3) 64%,
      transparent 50%
    );
  }

  .modal_checkmark {
    top: 6%;
  }
}
