.checkout_container {
  padding-top: 8vh;
  height: 100%;
  background: rgb(255, 255, 255);
}

.checkout_container h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.checkout_container_header {
  color: rgb(165, 138, 127);
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
}

.checkout_forward_arrow {
  color: rgb(165, 138, 127);
  position: absolute;
  right: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.checkout_back_arrow {
  color: rgb(165, 138, 127);
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.checkout_header {
  width: 100%;
  height: 5vh;
  background: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.checkout_header h2 {
  color: rgb(101, 101, 101);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-left: 1.5rem;
}

.top_form_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 87vw;
}

.required_fields_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.6rem;
}

.required_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.required_label.red_asterisk {
  margin-left: 0.2rem;
}

.red_asterisk {
  color: red;
  margin-right: 0.2rem;
}

.required_fields_statement {
  font-weight: 500;
}

.guest_checkout_form_container {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.input_field {
  font-size: 1.3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 0.5rem;
}

.form_appointment_notes {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.notes_character_limit {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form_appointment_notes_caption {
  color: rgb(211, 211, 211);
}

.guest_checkout_bottom_buttons_container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 6vh;
  padding-bottom: 4vh;
  padding-top: 2vh;
}

.confirm_details_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(165, 138, 127);
  border-radius: 30px;
  color: white;
}

.change_time_button {
  display: flex;
  margin: 0 auto;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(165, 138, 127);
  border-radius: 30px;
  color: rgb(165, 138, 127);
  margin-top: 1.5rem;
}
