.chemical_peel_card {
  grid-area: chemical_peel_card;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    "hero hero description description description description"
    "hero hero description description description description"
    "hero hero description description description description";
  height: 29.3333vh;
  border-top: solid 0.5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: -1;
}

.chemical_peel_card_image {
  grid-area: hero;
  background: rgb(229, 230, 217);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.chemical_peel_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.chemical_peel_icon_path {
  transform: scale(0.5);
}

.chemical_peel_description {
  display: flex;
  flex-direction: column;
  grid-area: description;
  margin: 1rem;
  max-width: 100%;
}

.chemical_peel_description_subheader {
  font-weight: 300;
  margin-bottom: 1rem;
}

.chemical_peel_card_toggler {
  color: rgb(189, 190, 177);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.chemical_peel_card_bottom_spacer {
  flex-grow: 1;
}

.chemical_peel_suitcase_icon {
  color: rgb(189, 190, 177);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}
