.admin_schedule_container {
  height: 100%;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 8vh;
}

.admin_schedule_header {
  color: rgb(44, 44, 52);
  height: 8vh;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  border-bottom: solid 1px rgb(44, 44, 52);
  position: fixed;
  background: rgb(255, 255, 255);
  z-index: 5;
}

.admin_schedule_header h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.admin_schedule_back_arrow {
  color: rgb(44, 44, 52);
  z-index: 9999;
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.admin_schedule_calendar_main_container {
  position: absolute;
  height: 65vh;
  width: 100%;
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* React Big Calendar Style Resets */

.rbc-toolbar {
  font-size: 10px !important;
}

.rbc-event {
  z-index: 300;
  position: relative;
  overflow: hidden;
}

.rbc-toolbar button {
  font-size: 8px !important;
}

.rbc-header {
  font-size: 9px !important;
}

.rbc-toolbar button {
  padding: 0.375rem 0.3rem !important;
}

.rbc-toolbar .rbc-toolbar-label {
  padding: 0 1px !important;
}

.rbc-timeview,
.rbc-allday-cell {
  display: none;
}

.rbc-event-label,
.rbc-event-content {
  font-size: 9px !important;
}

.rbc-agenda-date-cell {
  padding: 5px 2px !important;
}

.rbc-agenda-time-cell {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.admin_appointment_confirmed_checkmark {
  margin-right: 0.3rem;
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .admin_schedule_container {
    height: 100vh;
    padding-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
  }

  .admin_schedule_header {
    position: absolute;
    top: 8vh;
    left: 15%;
    height: 8vh;
    font-weight: 600;
    width: 100%;
  }

  .admin_schedule_header h1 {
    font-size: 2rem;
  }

  .admin_schedule_back_arrow {
    display: none;
  }

  .admin_schedule_calendar_main_container {
    position: absolute;
    height: 70vh;
    width: 55%;
    top: 25vh;
    bottom: 0;
    left: 35vw;
    right: 0;
    margin: 0 auto;
  }

  .admin_calendar_top_buttons_container {
    position: absolute;
    width: 55%;
    top: 18vh;
    right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .admin_calendar_top_buttons_container > .react-autosuggest__container {
    margin-right: 1rem;
  }

  .admin_calendar_top_buttons_container
    > .react-autosuggest__container
    > .Dropdown-menu {
    max-height: 250px !important;
  }

  .admin_calendar_top_buttons_container
    > .react-autosuggest__container
    > .react-autosuggest__input {
    font-size: 1rem !important;
    padding: 1rem !important;
    border-left: 1px solid rgb(211, 211, 211);
    font-weight: 600;
  }

  .admin_calendar_create_appointment_button {
    padding: 1rem;
    width: 45vw;
    border-radius: 5px;
    font-weight: 600;
    background: rgb(0, 129, 177);
    color: white;
    cursor: pointer;
    text-align: center;
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  .admin_calendar_create_personal_event_button {
    padding: 1rem;
    width: 45vw;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid rgb(0, 129, 177);
    color: rgb(0, 129, 177);
    cursor: pointer;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  /* React Big Calendar Style Re-Resets */
  .rbc-toolbar {
    font-size: 16px !important;
    padding-bottom: 2rem !important;
  }

  .rbc-toolbar-label {
    font-size: 1.3rem !important;
    font-weight: 600;
  }

  .rbc-label {
    font-size: 2rem;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
  }

  .rbc-label span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .rbc-time-view {
    border: none !important;
  }

  .rbc-time-gutter .rbc-time-slot {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background: rgb(255, 255, 255) !important;
    border-top: 1px solid rgb(255, 255, 255) !important;
  }

  .rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid rgb(255, 255, 255) !important;
  }

  .rbc-label.rbc-time-header-gutter {
    position: relative;
  }

  .rbc-label.rbc-time-header-gutter::after {
    content: "All Day";
    font-size: 1rem;
    position: absolute;
    bottom: 0.5rem;
  }

  .rbc-header {
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
  }

  .rbc-time-content > * + * > * {
    border-left: 1px solid rgb(255, 255, 255) !important;
  }

  .rbc-time-gutter .rbc-timeslot-group {
    border: none;
  }

  .rbc-time-header-content {
    border-left: 1px solid rgb(255, 255, 255) !important;
    /* flex: 0.99 !important; */
  }

  .rbc-toda .rbc-time-header.rbc-overflowing {
    border-right: 1px solid rgb(255, 255, 255) !important;
  }

  .rbc-day-slot .rbc-time-slot {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 1px solid rgb(211, 211, 211) !important;
  }

  .rbc-toolbar button {
    font-size: 16px !important;
  }

  .rbc-header {
    font-size: 90% !important;
  }

  .rbc-toolbar button {
    padding: 0.375rem 1rem !important;
  }

  .rbc-toolbar .rbc-toolbar-label {
    padding: 0 10px !important;
  }

  .rbc-timeview,
  .rbc-allday-cell {
    display: block;
  }

  .rbc-event-label,
  .rbc-event-content {
    font-size: 13px !important;
  }

  .rbc-agenda-date-cell {
    padding: 5px 10px !important;
  }

  .rbc-agenda-time-cell {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .admin_personal_event_container,
  .admin_create_appointment_container {
    height: 100vh;
    width: 66%;
    top: 18vh;
    left: 27vw;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 5;
    padding-bottom: 20vh;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 950px) {
  .admin_schedule_header h1 {
    font-size: 1.5rem;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .admin_schedule_header {
    left: 10%;
  }

  .admin_calendar_top_buttons_container {
    width: 33.3%;
    right: 7.5vw;
  }

  .admin_schedule_calendar_main_container {
    width: 65%;
    left: 20vw;
  }

  .admin_calendar_create_appointment_button,
  .admin_calendar_create_appointment_button {
    font-size: 1rem;
  }

  .admin_calendar_top_buttons_container
    > .react-autosuggest__container
    > .Dropdown-menu {
    max-height: 150px !important;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .admin_calendar_top_buttons_container {
    width: 65%;
    right: 0;
    left: 20vw;
    margin: 0 auto;
  }
}
