.bottom_footer_all_icons_container {
  grid-area: icons;
  width: 100%;
  background-color: rgb(0, 129, 177);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.bottom_footer_copyright_statement {
  grid-area: copyright;
}

.bottom_footer_company_address {
  grid-area: address;
}

.bottom_footer_logo_container {
  grid-area: logo;
}

.bottom_footer_container {
  grid-area: footer;
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "icons icons icons"
    "copyright copyright copyright"
    "address address address"
    "logo logo logo";
  overflow: hidden;
}
