.contact_page_container {
  height: 110vh;
  position: relative;
}

.contacts_title_underline {
  animation: contacts_line 1s linear forwards;
  border-bottom: 3px solid rgb(215, 156, 165);
  margin-bottom: 0.5rem;
}

.contacts_page_wrapping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts_page_wrapping h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(215, 156, 165);
  line-height: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

@keyframes contacts_line {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@keyframes big_contacts_line {
  from {
    width: 0%;
  }
  to {
    width: 23.5%;
  }
}

.contacts_map_container {
  width: 100vw;
  height: 30vh;
}

.contact_custom_marker {
  position: absolute;
  transform: translate(-50%, -100%);
}

.contacts_text_container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contacts_text_container h3 {
  color: rgb(215, 156, 165);
  margin-bottom: 1.5rem;
}

.contacts_text_container p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.contact_icon {
  margin-right: 0.7rem;
}

.day_and_time_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.days_container,
.hours_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.days_container {
  margin-right: 1.5rem;
}

.days_container p,
.hours_container p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.days_container p {
  font-weight: 600;
}

.open_status {
  display: flex;
  font-weight: 600;
  align-self: flex-start;
  margin-left: 1.5rem;
}
