.extra_extractions_wrapping {
  display: grid;
  grid-area: extra_extractions_card;
  height: 28.6666667vh;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.extra_extractions_icon_path {
  transform: scale(0.65);
}
