.sign_up_logo_container {
  min-width: 10rem;
  max-width: 20rem;
  grid-area: logo;
  margin: 10vh auto;
}

.sign_up_page_descriptive_text {
  display: none;
}

.sign_up_section_designator {
  grid-area: section;
  text-align: center;
}

.sign_up_form_container {
  width: 100%;
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sign_up_individual_form_field > label > .top_form_container {
  min-width: 15rem;
  width: 80vw;
  max-width: 35rem;
}

.sign_up_form_container input {
  min-width: 15rem;
  width: 80vw;
  max-width: 35rem;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  line-height: 0;
}

.sign_up_bottom_buttons_container {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sign_up_individual_form_field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sign_up_page_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 20% 5% 40% 20% 25%;
  grid-template-areas:
    "logo logo logo"
    "section section section"
    "form form form"
    "buttons buttons buttons"
    ". . .";
  position: relative;
  background: white;
}

.sign_up_page_container:before {
  content: "";
  background-color: white;
  position: absolute;
  height: 15vh;
  width: 25vw;
  left: 0vw;
  bottom: -15vh;
  z-index: 50;
}

.sign_up_section_designator h2 {
  font-weight: 700;
  color: rgb(77, 77, 77);
}

.create_account_button {
  background: rgb(44, 44, 52);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  min-width: 15rem;
  width: 80vw;
  max-width: 35rem;
}

.invalid_message_container {
  min-width: 15rem;
  width: 80vw;
  max-width: 35rem;
}

.already_have_an_account_question {
  font-weight: 500;
}

.login_redirect_button {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(44, 44, 52);
  color: rgb(44, 44, 52);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  min-width: 15rem;
  width: 80vw;
  max-width: 35rem;
}

@media only screen and (max-width: 330px) {
  .sign_up_section_designator h2 {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 767px) and (max-device-height: 1000px) {
  .sign_up_page_container {
    height: min-content;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1023px) and (max-device-height: 800px) and (orientation: landscape) {
  .sign_up_page_container {
    height: 200vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
  .sign_up_page_container {
    height: 100vh;
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .sign_up_page_descriptive_text {
    display: block;
    position: absolute;
    top: 23%;
    left: 39%;
  }

  .sign_up_page_descriptive_text h2 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }

  .sign_up_page_descriptive_text ul {
    padding-top: 1rem;
    padding-left: 3rem;
  }

  .sign_up_page_descriptive_text ul li {
    font-size: 1.5rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
  }

  .sign_up_page_background {
    width: 100%;
    height: 100%;
    /* Photo by Karolina Grabowska from Pexels */
    background-image: url("../../../images/GlowLabsSignInBackgroundCompressed.jpg");
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    background-size: cover;
    position: absolute;
    display: block;
    z-index: -1;
  }

  .sign_up_page_background_blurry {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    height: 100%;
    width: 75%;
    position: absolute;
    right: 0;
  }

  .sign_up_page_container {
    width: 35%;
    height: 95vh;
    grid-template-rows: 20% 5% 50% 20% 25%;
  }

  .sign_up_page_container:before {
    width: 35vw;
  }

  .sign_up_section_designator h2 {
    font-size: 1.3em;
  }

  .invalid_message_container,
  .sign_up_individual_form_field > label > .top_form_container,
  .sign_up_form_container input,
  .create_account_button,
  .login_redirect_button {
    min-width: 15rem;
    width: 50vw;
    max-width: 17rem;
  }
}

@media only screen and (min-width: 1400px) {
  .invalid_message_container,
  .sign_up_individual_form_field > label > .top_form_container,
  .sign_up_form_container input,
  .login_or_container,
  .create_account_button,
  .login_redirect_button {
    max-width: 19rem;
  }

  .sign_up_section_designator h2 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1800px) {
  .invalid_message_container,
  .sign_up_individual_form_field > label > .top_form_container,
  .sign_up_form_container input,
  .login_or_container,
  .create_account_button,
  .login_redirect_button {
    max-width: 25rem !important;
  }

  .sign_up_page_container {
    width: 35%;
    height: 85vh;
    grid-template-rows: 23% 5% 50% 20% 25%;
  }
}

@media only screen and (min-width: 2000px) {
  .sign_up_page_container {
    width: 25%;
    height: 100vh;
    grid-template-rows: 20% 5% 40% 20% 25%;
  }

  .sign_up_page_container:before {
    width: 25vw;
  }

  .invalid_message_container,
  .sign_up_individual_form_field > label > .top_form_container,
  .sign_up_form_container input,
  .login_or_container,
  .create_account_button,
  .login_redirect_button {
    max-width: 30rem;
  }

  .sign_up_page_descriptive_text {
    top: 25%;
    left: 30%;
  }

  .sign_up_page_descriptive_text h2 {
    font-size: 7rem;
  }

  .sign_up_page_descriptive_text ul li {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 2400px) {
  .sign_up_page_container {
    height: 85vh;
  }
}
