.react-tooltip-lite {
  background: rgb(44, 44, 52);
  color: white;
  border-radius: 50px;
  text-align: center;
  transition: background 1s ease;
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  margin: 0 auto !important;
  height: 10% !important;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}

.calm_tooltip_container {
  width: 10%;
  position: relative;
}

.calm_tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  border-radius: 4px;
  top: 0;
  position: absolute;
  width: max-content;
}

.calm_tooltip_arrow,
.calm_tooltip_arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.calm_tooltip_arrow::before {
  content: "";
  transform: rotate(45deg);
  background: #333;
}

.calm_tooltip[data-popper-placement^="bottom"] > .calm_tooltip_arrow {
  top: -4px;
}

/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .calm_wrapping {
    display: grid;
    grid-area: calm_card;
    height: 28.6666667vh;
    border-radius: 10px;
    position: relative;
    z-index: 4;
  }

  .calm_icon_path {
    transform: scale(0.48);
  }

  .react-tooltip-lite {
    font-size: 0.5rem;
  }
}

/* CSS for Smaller Portrait Screens (e.g. Galaxy Note 9) */
@media only screen and (min-width: 360px) {
  .react-tooltip-lite {
    font-size: 0.8rem;
  }
}

/* CSS for Larger Tablets in Portrait Mode */
@media only screen and (min-width: 1024px) and (max-device-height: 1400px) {
  .react-tooltip-lite {
    font-size: 0.9rem;
  }
}
