.react-tooltip-lite {
  background: rgb(44, 44, 52);
  color: white;
  border-radius: 50px;
  text-align: center;
  transition: 0.5s ease all;
  max-width: 50% !important;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}

/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .calm_wrapping {
    display: grid;
    grid-area: calm_card;
    height: 28.6666667vh;
    border-radius: 10px;
    position: relative;
    z-index: 4;
  }

  .calm_icon_path {
    transform: scale(0.48);
  }

  .react-tooltip-lite {
    font-size: 0.5rem;
  }
}

/* CSS for Smaller Portrait Screens (e.g. Galaxy Note 9) */
@media only screen and (min-width: 360px) {
  .react-tooltip-lite {
    font-size: 0.8rem;
  }
}

/* CSS for Larger Tablets in Portrait Mode */
@media only screen and (min-width: 1024px) and (max-device-height: 1400px) {
  .react-tooltip-lite {
    font-size: 0.9rem;
  }
}
