.all_treatments_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 100%;
  margin: 0 auto;
  grid-gap: 2rem;
}

.card_container {
  height: 28.6666667vh;
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) {
  .all_treatments_container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-gap: 1rem;
    grid-row-gap: 3rem;
  }

  .card_container {
    height: 23vh;
  }
}

/* CSS for Large Screens with Smaller Browser Sizes */
@media only screen and (min-width: 500px) and (min-device-height: 500px) {
  .card_container {
    height: 30vh;
  }
}

/* CSS for Desktops at Half Screen */
@media only screen and (min-width: 830px) {
  .all_treatments_container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

/* CSS for Larger Tablets in Portrait Mode */
@media only screen and (min-width: 1024px) {
  .all_treatments_container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 3.5rem;
  }
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .all_treatments_container {
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 3.5rem;
  }

  .card_container {
    height: 28.6666667vh;
  }
}

/* CSS for Regular Desktops/Small Laptops with Larger Heights */
@media only screen and (min-width: 1200px) and (min-device-height: 1250px) {
  .card_container {
    height: 22vh;
  }
}

/* CSS for Regular Desktops/Small Laptops with Larger Heights */
@media only screen and (min-width: 1600px) and (min-device-height: 1250px) {
  .card_container {
    height: 33vh;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2000px) {
  .all_treatments_container {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 3.5rem;
  }

  .card_container {
    height: 36vh;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .card_container {
    height: 40vh;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2400px) {
  .card_container {
    height: 36vh;
  }
}
