.client_consent_form_container {
  padding-top: 8vh;
  background: rgb(255, 255, 255);
  margin-bottom: 10vh;
  overflow-y: scroll !important;
}

.client_consent_form_header {
  color: rgb(44, 44, 52);
  height: 8vh;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  position: relative;
  border-bottom: solid 1px rgb(44, 44, 52);
}

.client_consent_form_header h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.client_consent_form_header_back_arrow {
  color: rgb(44, 44, 52);
  position: absolute;
  left: 1.5rem;
  font-size: 1.5rem;
  margin: auto;
  top: 0;
  bottom: 0;
}

.client_consent_form_content_container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.client_consent_form_question {
  font-weight: 500;
}

.client_consent_form_checkbox {
  position: relative !important;
  display: inline-block;
  cursor: pointer;
}

.client_consent_form_checkbox > svg:nth-child(2) {
  width: 100%;
  height: 100%;
}

.client_consent_form_checkbox > svg > g > g {
  transform: scale(1.5) !important;
}

.client_consent_form_option_container {
  margin-top: 1rem;
}

.client_consent_form_checkbox_description {
  display: inline-block;
  font-weight: 600;
  margin-left: 0.5rem;
}

.client_consent_form_elaboration_box {
  margin-top: 1rem;
}

.consent_form_bottom_button_container {
  display: flex;
  height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.consent_form_bottom_button_container.page_1 {
  height: 10vh;
}

.next_page_button {
  width: 65%;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
}

.consent_form_page_number_info {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(155, 155, 155);
}

.consent_form_previous_page_button {
  width: 65%;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(44, 44, 52);
  color: rgb(44, 44, 52);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
}

.consent_form_previous_page_button p {
  color: rgb(44, 44, 52);
}

.next_page_link_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client_consent_form_optional_designation {
  display: inline-block;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
  color: rgb(191, 191, 191);
}

.client_consent_form_question_optional_container p {
  display: inline;
}

.client_consent_form_women_only_question {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.form_appointment_notes_extras {
  min-height: 17vh;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.consent_form_title_designation {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.consent_form_sign_paragraph {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.consent_form_signature_header {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.consent_form_signature_container {
  width: 87%;
  height: 20vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid rgb(44, 44, 52);
  position: relative;
  z-index: 0;
}

.consent_form_signature {
  width: 100%;
}

.consent_form_signature_clear_container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-weight: 500;
  z-index: 16;
  opacity: 0.99;
  color: rgb(0, 129, 177);
  cursor: pointer;
}

.consent_form_date_container {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.consent_form_date_field {
  width: 20%;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 0.2rem;
  text-align: center;
}

.modal_consent_form_icon {
  width: 100vw;
  position: absolute;
  left: 33%;
  top: -8vh;
}

.modal_consent_form_icon_container {
  position: relative;
  width: 100%;
  height: 20%;
}

.modal_consent_form_check_icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  color: rgb(44, 44, 52);
}

.modal_consent_form_checkmark {
  display: block;
  height: 2rem;
  position: absolute;
  top: -10%;
  left: 12%;
  bottom: 0;
}

.modal_statement_of_thanks {
  font-size: 2rem;
}

.consent_form_submit_page {
  height: 100%;
}

@media only screen and (min-width: 300px) {
  .modal_consent_form_icon {
    left: 25%;
    top: -8.5vh;
  }

  .modal_consent_form_checkmark {
    height: 1.5rem;
    top: -32%;
    left: 10%;
  }
}

@media only screen and (min-width: 360px) {
  .modal_consent_form_icon {
    left: 25%;
    top: -8.5vh;
  }

  .modal_consent_form_checkmark {
    top: -30%;
    left: 10%;
  }
}

@media only screen and (min-width: 370px) {
  .modal_consent_form_checkmark {
    top: -27%;
    left: 11%;
  }
}

@media only screen and (min-width: 370px) and (min-height: 800px) {
  .modal_consent_form_icon {
    left: 33%;
    top: -8.5vh;
  }

  .modal_consent_form_checkmark {
    left: 12%;
    top: -13%;
  }
}

@media only screen and (min-width: 400px) and (max-height: 800px) {
  .modal_consent_form_icon {
    left: 30%;
    top: -8.5vh;
  }

  .modal_consent_form_checkmark {
    height: 2rem;
    top: -30%;
    left: 10%;
  }
}

@media only screen and (min-width: 400px) and (min-height: 800px) {
  .modal_consent_form_icon {
    left: 32%;
    top: -8.5vh;
  }

  .modal_consent_form_checkmark {
    height: 2rem;
    top: -30%;
    left: 11.5%;
  }
}

@media only screen and (min-width: 450px) and (min-height: 800px) {
  .modal_consent_form_checkmark {
    left: 13%;
  }
}

@media only screen and (min-width: 768px) {
  .modal_consent_form_checkmark {
    top: -25%;
  }

  .modal_consent_form_icon {
    left: -1%;
    top: -8.5vh;
  }
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .client_consent_form_container {
    width: 70%;
    margin-bottom: 10vh;
    position: absolute;
    right: 0;
  }

  .client_consent_form_header h1 {
    font-size: 2rem;
  }

  .client_consent_form_header_back_arrow {
    display: none;
  }

  .client_consent_form_content_container {
    margin-left: 11vw;
    margin-right: 11vw;
    margin-top: 3rem;
  }

  .client_consent_form_question {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .client_consent_form_checkbox {
    transform: scale(1.5) translate(0%, -20%);
    margin-top: 1rem;
  }

  .form_appointment_notes {
    margin-top: 1rem;
  }

  .client_consent_form_elaboration_box,
  .form_appointment_notes_extras {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .client_consent_form_checkbox_description {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .client_consent_form_option_container {
    margin-left: 0.5rem;
  }

  .client_consent_form_content_container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .consent_form_previous_page_button,
  .next_page_button {
    width: 24%;
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-top: 1rem;
  }

  .consent_form_page_number_info {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(155, 155, 155);
  }

  .consent_form_page_number_info {
    font-size: 1rem;
  }

  .client_consent_form_optional_designation {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .client_consent_form_women_only_question {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
  }

  .consent_form_sign_paragraph {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 11vw;
    margin-right: 11vw;
    line-height: 2rem;
  }

  .consent_form_title_designation,
  .consent_form_signature_header {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-left: 11vw;
    margin-right: 11vw;
  }

  .consent_form_signature_container {
    width: 40%;
    height: 10%;
    margin-left: 11vw;
    margin-right: 11vw;
  }

  .consent_form_date_container {
    padding-top: 1rem;
    margin-left: 11vw;
    margin-right: 11vw;
    justify-content: flex-start;
  }

  .consent_form_date_field:not(:first-child) {
    margin-left: 1rem;
  }

  .consent_form_date_field {
    width: 10%;
    font-size: 1rem;
    padding: 0.05rem;
    margin-right: 1rem;
  }

  .final_booking_modal {
    height: 60% !important;
    top: 18%;
    width: 25vw !important;
  }

  .dismiss_modal_button {
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .dismiss_modal_button p {
    font-size: 1.5rem;
  }

  .modal_confirmation_statement {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 2.5rem !important;
  }

  .modal_consent_form_icon {
    left: -148%;
    top: -7.7vh;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 950px) {
  .client_consent_form_header h1 {
    font-size: 1.5rem;
  }

  .client_consent_form_content_container {
    margin-top: 1rem;
  }

  .consent_form_bottom_button_container.page_1 {
    height: 15vh;
  }

  .consent_form_bottom_button_container {
    height: 25vh;
  }

  .consent_form_signature_container {
    height: 15%;
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .client_consent_form_container {
    width: 80%;
    height: 120vh;
  }

  .client_consent_form_content_container {
    margin-top: 1rem;
  }

  .client_consent_form_checkbox_description {
    margin-left: 0rem;
  }

  .client_consent_form_checkbox {
    transform: scale(1.2) translate(0%, -18%);
  }

  .client_consent_form_elaboration_box,
  .form_appointment_notes_extras {
    font-size: 1.5rem;
  }

  .modal_consent_form_checkmark {
    top: -15%;
    left: 12%;
  }

  .consent_form_sign_paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 3rem;
  }

  .consent_form_signature_container {
    width: 15%;
  }

  .consent_form_date_field {
    font-size: 1.5rem;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .client_consent_form_content_container {
    margin-top: 3rem;
  }

  .client_consent_form_question {
    font-size: 2rem;
  }

  .client_consent_form_checkbox_description {
    font-size: 1.8rem;
    margin-left: 1rem;
  }

  .client_consent_form_checkbox {
    margin-top: 1rem;
  }

  .modal_consent_form_checkmark {
    transform: scale(1.5) translate(-0.5%, 10%);
  }

  .modal_confirmation_statement {
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
    line-height: 2.5rem !important;
  }
}
