.glow_wrapping {
  display: grid;
  grid-area: glow_card;
  height: 28.6666667vh;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.glow_icon_path {
  transform: scale(0.45);
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .glow_wrapping {
    height: 20.8vh;
  }
}
