.treatments_page_3_container {
  height: 92vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-template-areas:
    "quench_card quench_card quench_card"
    "quickie_card quickie_card quickie_card"
    "chemical_peel_card chemical_peel_card chemical_peel_card";
  row-gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .treatments_page_3_container {
    height: 28.6666667vh;
    grid-template-columns: repeat(auto-fit, minmax(33.333vw, 1fr));
    grid-template-areas:
      "quickie_card quickie_card chemical_peel_card chemical_peel_card dermaplaning_card dermaplaning_card"
      "quickie_card quickie_card chemical_peel_card chemical_peel_card dermaplaning_card dermaplaning_card";
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 3rem;
  }
}
