.clarify_card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    "hero hero description description description description"
    "hero hero description description description description"
    "hero hero description description description description";
  box-shadow: 1px 0px 1px 0px rgba(207, 207, 196, 0.7),
    -1px 0px 1px 0px rgba(207, 207, 196, 0.7),
    0px -1px 1px 0px rgba(207, 207, 196, 0.1),
    0px 2px 1px 0px rgba(207, 207, 196, 0.6);
  z-index: -1;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 10px;
}

.clarify_wrapping {
  display: grid;
  grid-area: clarify_card;
  height: 28.6666667vh;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.clarify_card_image {
  grid-area: hero;
  background: rgb(255, 198, 207);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px -1px 1px 0px rgba(207, 207, 196, 0.1);
}

.clarify_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.clarify_icon_path {
  transform: scale(0.5);
}

.clarify_description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  background-color: rgba(255, 198, 207, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px -1px 1px 0px rgba(207, 207, 196, 0.1);
}

.clarify_border_right {
  display: flex;
  align-self: flex-end;
  border-right: 1px solid rgbA(155, 98, 107, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
}

.clarify_description_inner_wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.clarify_description_inner_wrapper h2 {
  font-size: 1.3rem;
}

.clarify_description_subheader {
  display: flex;
  font-weight: 300;
}

.clarify_description_paragraph {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.clarify_card_bottom_wrapper {
  color: rgb(155, 98, 107);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  position: relative;
}

.clarify_card_bottom_wrapper p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.clarify_card_bottom_spacer {
  flex-grow: 1;
}

.clarify_suitcase_icon {
  color: rgb(155, 98, 107);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
}
