.sign_up_page_container {
  height: 135vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -11vh;
  padding-bottom: 12vh;
}

.sign_up_content_container {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 12vh;
}

.sign_up_logo_container {
  position: absolute;
  height: 60%;
  width: 100%;
  top: -21.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign_up_prompt {
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 14rem;
  padding-bottom: 2rem;
  color: rgb(121, 121, 121);
  position: absolute;
  top: -33.5vh;
  width: 90%;
  text-align: center;
}

.complete_registration_prompt {
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 14rem;
  padding-bottom: 2rem;
  color: rgb(121, 121, 121);
  position: absolute;
  top: -38vh;
  width: 90%;
  text-align: center;
}

.sign_up_page_form {
  width: 90%;
}

.input_field_sign_up {
  width: 100%;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  line-height: 0;
}

.input_field_sign_up::placeholder {
  padding-top: 0.75rem;
}

.invalid-feedback {
  margin-bottom: 0.5rem;
}

.signup_page_bottom_buttons_container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
}

.create_account_button {
  width: 90%;
  background: rgb(44, 44, 52);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  cursor: pointer;
}

.already_have_an_account_question {
  font-weight: 500;
  margin-top: 2vh;
}

.login_redirect_button {
  width: 90%;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(44, 44, 52);
  color: rgb(44, 44, 52);
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  cursor: pointer;
}

.login_redirect_button p {
  color: rgb(44, 44, 52);
}

/* CSS for Regular Desktops/Small Laptops and Tablets */
@media only screen and (min-width: 1200px) {
  .sign_up_page_background {
    width: 100%;
    height: 100%;
    background: rgb(154, 154, 162);
  }

  .sign_up_page_container {
    height: 100vh;
    width: 33.333%;
    margin-top: 0;
    padding-bottom: 0;
  }

  .sign_up_logo_container {
    height: 60%;
    width: 100%;
    top: -22vh;
  }

  .sign_up_content_container {
    height: 95%;
    width: 100%;
    justify-content: flex-end;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sign_up_prompt {
    font-size: 2rem;
    padding-top: 0em;
    padding-bottom: 0rem;
    top: 27vh;
  }

  .sign_up_page_form {
    padding-top: 35vh;
    padding-bottom: 1vh;
  }

  .signup_page_bottom_buttons_container {
    padding-bottom: 0vh;
  }

  .sign_up_individual_form_field {
    margin-bottom: 1rem;
  }

  .login_redirect_button,
  .create_account_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .input_field_login {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .create_account_button {
    margin-bottom: 1vh;
  }

  .already_have_an_account_question {
    font-size: 1rem;
    margin-bottom: 2vh;
  }

  .sign_up_required_fields {
    padding-right: 2rem;
  }
}

/* CSS for Regular-Sized Desktops */
@media only screen and (min-width: 1600px) {
  .sign_up_page_container {
    width: 25%;
  }

  .sign_up_content_container {
    height: 70%;
  }

  .sign_up_prompt {
    font-size: 2rem;
    padding-top: 2em;
    padding-bottom: 3rem;
    top: 7.5vh;
  }

  .login_redirect_button,
  .create_account_button {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .already_have_an_account_question {
    font-size: 1.5rem;
    margin-bottom: -4vh;
  }

  .create_account_button {
    margin-bottom: -5vh;
  }

  .sign_up_required_fields {
    padding-right: 13rem;
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .sign_up_page_form {
    margin-top: 0;
    padding-top: 0vh;
    padding-bottom: 3vh;
  }

  .sign_up_content_container {
    height: 70%;
    margin-bottom: 10vh;
  }

  .sign_up_password_form_container {
    margin-bottom: 5vh;
  }
}
