/* CSS for Tiny Portrait Screens (e.g. iPhone 5, Galaxy Note 3) */
@media only screen and (min-width: 300px) {
  .treatments_page_1_container {
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
    grid-auto-rows: auto;
    gap: 3vh;
    grid-template-areas:
      "header header header"
      "calm_card calm_card calm_card"
      "clarify_card clarify_card clarify_card";
    background: #fff;
  }

  .treatments_page_1_header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .treatments_page_1_header h2 {
    font-size: 2vh;
    font-weight: 900;
    color: rgb(44, 44, 52);
    -webkit-text-fill-color: rgb(44, 44, 52);
    line-height: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }

  .treatments_page_1_header h3 p {
    text-align: center;
  }

  .treatments_title_underline {
    border-bottom: 3px solid rgb(44, 44, 52);
  }

  .treatments_page_1_header h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

/* CSS for Small Portrait Screens (e.g. iPhone 6/7/8, iPhone X) */
@media only screen and (min-width: 360px) {
  .treatments_page_1_container {
    gap: 2vh;
  }

  .treatments_page_1_header h2 {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .treatments_page_1_header h3 {
    font-size: 1.79rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 360px) and (max-device-height: 800px) {
  .treatments_page_1_container {
    gap: 5vh;
    margin-top: 2vh;
  }
}

/* Additional CSS for Mobile Phones with Slightly Larger Heights */
@media only screen and (min-width: 375px) and (min-device-height: 801px) {
  @supports (-webkit-overflow-scrolling: touch) {
    .treatments_page_1_container {
      gap: 3.5vh;
    }
  }
}

/* CSS for Average Portrait Screens (e.g. iPhone 11) */
@media only screen and (min-width: 410px) {
  .treatments_page_1_container {
    gap: 0;
    margin-top: 0vh;
  }

  .treatments_page_1_header h2 {
    font-size: 1.5rem;
  }
}

/* Additional CSS for Mobile Phones with Smaller Heights */
@media only screen and (min-width: 410px) and (max-device-height: 800px) {
  .treatments_page_1_container {
    gap: 4vh;
  }
}

/* Google Pixel 4XL */
@media screen and (device-width: 480px) and (device-height: 1014px) {
  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .treatments_page_1_header h2 {
      font-size: 1.8rem;
      line-height: 1.5rem;
    }
  }
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .treatments_page_1_container {
    height: 85vh;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-areas:
      "header header header header header header"
      "calm_card calm_card calm_card clarify_card clarify_card clarify_card"
      "calm_card calm_card calm_card clarify_card clarify_card clarify_card";
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .treatments_page_1_header h2 {
    display: flex;
    align-self: center;
    font-size: 2rem;
    line-height: 1.5rem;
    text-align: left;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }

  .treatments_page_1_header h3 p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .treatments_page_1_header h3 p br {
    display: none;
  }

  .treatments_title_underline {
    display: flex;
    align-self: center;
    animation: none;
  }
}

/* CSS for Tablets in Portrait Mode */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .treatments_page_1_container {
    height: 50vh;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  }

  .treatments_page_1_header h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0rem;
  }

  .treatments_page_1_header h3 p {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-size: 1.8rem;
    padding-bottom: 0rem;
    margin-left: 3.1rem;
    margin-right: 3.1rem;
  }
}

/* CSS for Larger Tablets in Portrait Mode */
@media only screen and (min-width: 1024px) and (max-device-height: 1400px) {
  .treatments_page_1_header h2 {
    font-size: 3.2rem;
    line-height: 3rem;
  }

  .treatments_page_1_header h3 p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  .treatments_page_1_container {
    height: 60vh;
    grid-template-columns: repeat(auto-fit, minmax(33.35%, 1fr));
    grid-template-areas:
      "header header header header header header"
      "calm_card calm_card clarify_card clarify_card bacial_card bacial_card"
      "calm_card calm_card clarify_card clarify_card bacial_card bacial_card";
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    gap: 0;
  }

  .treatments_page_1_header h2 {
    display: flex;
    align-self: center;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }

  .treatments_page_1_header h3 p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .treatments_page_1_header h3 p br {
    display: none;
  }

  .treatments_title_underline {
    display: flex;
    align-self: center;
  }

  /* Safari 7.1+ */

  _::-webkit-full-page-media,
  _:future,
  .treatments_page_1_container {
    grid-template-columns: repeat(auto-fit, minmax(33.35%, 1fr));
  }
}

/* CSS for Slightly Smaller Medium Laptops (e.g. Chromebook) */
@media only screen and (min-width: 1360px) and (max-width: 1399px) and (max-device-height: 800px) {
  .treatments_page_1_container {
    grid-template-columns: repeat(auto-fit, minmax(25.28%, 1fr));
  }
}

/* CSS for Medium Laptops */
@media only screen and (min-width: 1400px) {
  .treatments_page_1_header h2 {
    font-size: 3rem;
  }

  .treatments_page_1_container {
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  }
}

/* CSS for Medium Laptops */
@media only screen and (min-width: 1400px) and (max-width: 1500px) and (max-device-height: 900px) {
  .treatments_page_1_container {
    grid-template-columns: repeat(auto-fit, minmax(33.35%, 1fr));
  }
}

/* CSS for Big Desktops */
@media only screen and (min-width: 1800px) {
  .treatments_page_1_header h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 1rem;
  }

  .treatments_page_1_header h3 p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  /* Safari Only */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .treatments_page_1_container {
        grid-template-columns: repeat(auto-fit, minmax(33.35%, 1fr));
      }
    }
  }
}

/* CSS for Huge Desktops */
@media only screen and (min-width: 2200px) {
  .treatments_page_1_header h2 {
    font-size: 5rem;
    line-height: 8rem;
    margin-top: 2rem;
  }

  .treatments_page_1_header h3 p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
  }
}
