@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: reduce) {
  html {
    --scroll-behavior: auto;
    scroll-behavior: auto;
  }
}

.toast_container {
  background-color: rgb(255, 226, 231);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
}

.toast_removed_container {
  background-color: rgb(240, 211, 216);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
}

.toast_error_container {
  background-color: rgb(225, 225, 225);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
}

/* CSS for Tablet Portrait / Mobile Landscape */
@media only screen and (min-width: 600px) {
  .toast_error_container,
  .toast_container {
    width: 42vw;
    margin-left: -5.8rem;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  /* Prevent larger browser scrollbar view */
  html,
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}
