@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: reduce) {
  html {
    --scroll-behavior: auto;
    scroll-behavior: auto;
  }
}

/* CSS for laptops and regular-sized desktops */
@media only screen and (min-width: 1200px) {
  /* Prevent larger browser scrollbar view */
  html,
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}
