@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
